{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                    </div>
                    <h2 class="panel-title">Filtro de busqueda</h2>
                </header>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="form-group form-group-sm">
                            <label class="col-sm-1 control-label">Referencia:</label>
                            <div class="col-sm-2">
                                {{ form_widget(form.txtReferencia) }}
                            </div>
                            <label class="col-sm-1 control-label">Descripcion:</label>
                            <div class="col-sm-2">
                                {{ form_widget(form.txtDescripcion) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            {{ form_widget(form.btnFiltrar, { 'attr': {'class': 'btn btn-primary', 'style':'float:right'} }) }}
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <br/>
        <div class="col-md-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered mb-none tabla-datos">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Referencia</th>
                                <th>Descripcion</th>
                                <th>Existencia</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for arItem  in arItems %}
                                <tr>
                                    <td>{{ arItem.codigoItemPk }}</td>
                                    <td>{{ arItem.referencia }}</td>
                                    <td>{{ arItem.descripcion }}</td>
                                    <td>{{ arItem.cantidadExistencia }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div style="display: flex; flex-direction: row;">
                        <span style="margin-right: 4px">registros: {{ arItems.getTotalItemCount }}</span>
                        {{ knp_pagination_render(arItems) }}
                    </div>
                    <div class="btn-group" style="float: right">
                        {{ form_widget(form.btnExcel, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
                    </div>
                </div>
            </section>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}




































