{% extends 'base.html.twig' %}

{% block bodyAtt %}class="fixed-left"{% endblock %}

{% block body %}
    {{ include('bloquesGenerales/menuEncabezado.html.twig') }}

    {{ include('bloquesGenerales/menuIzquierdo.html.twig') }}
    {% block content %}
        <div class="row">
            {#<div class="col-md-12">#}
                {#<div class="panel-heading">#}
                        {#<button class="btn btn-default btn-bordered waves-effect waves-light" type="submit" name="BtnImprimir" style="float: left;">Imprimir</button>#}
                    {#<div class="clearfix"></div>#}
                {#</div>#}
            {#</div>#}
            <div class="col-md-12" style="padding: 20px;">
                <div class="panel panel-color panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Detalles de la implementación: <span
                                    class="label label-default">#{{ arImplementacion.codigoImplementacionPk }} </span>
                        </h3><br>
                        <div class="row">
                            <div class="col-md-4">
                                <strong>Cliente:</strong> {{ arImplementacion.clienteRel.nombreComercial|default('-') }}
                                <br><br>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <h4>Gestión interna:</h4>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="field-2" class="control-label">Descripcion:</label>
                                    <p>{{ arImplementacion.descripcion }}</p><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-border panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Detalles:</h3>
                        <a href="javascript:abrirVentana('{{ path('implementacion_detalle_nuevo', { 'codigoImplementacion':  arImplementacion.codigoImplementacionPk,'codigoImplementacionDetalle':0}) }}','Nuevo',800, 1200)">
                            <button class="btn btn-success btn-bordered waves-effect waves-light"
                                    style="float: right;"><span class="mdi mdi-plus"></span> Nueva
                            </button>
                        </a>
                        <div class="clearfix"></div>
                    </div>
                    <hr>
                    <div class="panel-body">
                        {{ form_start(form) }}

                        <table class="tablesaw m-t-20 table m-b-0 tablesaw-stack" data-tablesaw-mode="stack"
                               id="table-2285">
                            <thead>
                            <tr>
                                <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="persist">
                                    ID
                                </th>
                                <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="1">TEMA
                                </th>
                                <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="1">T.DESC
                                </th>
                                <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="1">F.CAP
                                </th>
                                <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="1">CAP
                                </th>
                                <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="1">TER
                                </th>
                                <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="1">EDI
                                </th>
                                <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="1">ADJ
                                </th>
                                <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="1">PRIM
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set codigoGrupo = "" %}
                            {% for arImplementacionDetalles in arImplementacionDetalles %}
                                <tr>
                                {% if(codigoGrupo != arImplementacionDetalles.codigoImplementacionGrupoFk) %}
                                    {% set codigoGrupo = arImplementacionDetalles.codigoImplementacionGrupoFk %}
                                    <tr class="bg-primary">
                                        <td colspan="9">
                                            <strong>{{ arImplementacionDetalles.implementacionGrupoRel.nombre }}</strong>
                                        </td>
                                    </tr>
                                {% endif %}
                                <td><span
                                            class="tablesaw-cell-content">{{ arImplementacionDetalles.codigoImplementacionDetallePk }}</span>
                                </td>
                                <td><span
                                            class="tablesaw-cell-content">{{ arImplementacionDetalles.implementacionTemaRel.nombre }}</span>
                                </td>
                                <td><span
                                            class="tablesaw-cell-content">{{ arImplementacionDetalles.implementacionTemaRel.descripcion }}</span>
                                </td>
                                <td>{{ arImplementacionDetalles.fechaCapacitacion | date('Y-m-d') }}</td>
                                <td>
                                    {% if arImplementacionDetalles.estadoCapacitado == false %}
                                        <button class="btn btn-danger btn-xs" type="submit"
                                                name="arImplementacionDetalleCapacitar"
                                                value="{{ arImplementacionDetalles.codigoImplementacionDetallePk }}">
                                            <i class="glyphicon glyphicon-thumbs-down"></i>
                                        </button>
                                    {% else %}
                                        <button class="btn btn-success btn-xs" type="submit"
                                                name="arImplementacionDetalleCapacitar" disabled>
                                            <i class="glyphicon glyphicon-thumbs-up"></i>
                                        </button>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if arImplementacionDetalles.estadoTerminado == false %}
                                        <button class="btn btn-danger btn-xs" type="submit"
                                                name="arImplementacionDetalleTerminar"
                                                value="{{ arImplementacionDetalles.codigoImplementacionDetallePk }}">
                                            <i class="glyphicon glyphicon-thumbs-down"></i>
                                        </button>
                                    {% else %}
                                        <button class="btn btn-success btn-xs" type="submit"
                                                name="arImplementacionDetalleTerminar" disabled>
                                            <i class="glyphicon glyphicon-thumbs-up"></i>
                                        </button>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="javascript:abrirVentana('{{ path('implementacion_detalle_nuevo', { 'codigoImplementacion':  arImplementacion.codigoImplementacionPk,'codigoImplementacionDetalle': arImplementacionDetalles.codigoImplementacionDetallePk}) }}','Nuevo',800, 1200)"
                                       class="btn btn-purple waves-effect waves-light btn-xs m-b-5"><i
                                                class="glyphicon glyphicon-pencil"
                                                style="padding: 1px;"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="javascript:abrirVentana('{{ path('implementacion_detalle_adjunto', { 'codigoImplementacionDetalle': arImplementacionDetalles.codigoImplementacionDetallePk}) }}','Nuevo',800, 1200)"
                                       class="btn btn-info waves-effect waves-light btn-xs m-b-5"><i
                                                class="glyphicon glyphicon-paperclip"
                                                style="padding: 1px;"></i>
                                    </a>
                                </td>
                                <td>
                                    <button class="btn btn-default btn-xs" type="submit"
                                            name="BtnImprimir"
                                            value="{{ arImplementacionDetalles.codigoImplementacionDetallePk }}">
                                        <i class="glyphicon glyphicon-print"></i>
                                    </button>
                                </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer" style="text-align: right;">
                        <a class="btn btn-default btn-sm" href="{{ path('implementacion_lista') }}"
                           style="float:left">VOLVER</a>
                        <div class="clearfix"></div>
        {{ form_end(form) }}
        {{ include('bloquesGenerales/pie.html.twig') }}
    {% endblock %}
{% endblock %}