{% extends 'base.html.twig' %}

{% block bodyAtt %}class="fixed-left"{% endblock %}

{% block body %}
        {{ include('bloquesGenerales/menuEncabezado.html.twig') }}

        {{ include('bloquesGenerales/menuIzquierdo.html.twig') }}
                    {% block content %}
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="page-title-box">
                                    <h4 class="page-title" style="padding-right: 10px;"><i
                                                class="glyphicon glyphicon-th-list"></i> Implementación </h4>
                                    <a href="{{ path('implementacion_nuevo') }}">
                                        <button class="btn btn-success btn-bordered waves-effect waves-light"
                                                style="float: right;"><span class="mdi mdi-plus"></span> Nueva
                                        </button>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-box">
                                    <div class="table-responsive">
                                        <table id="tarea-table" class="table table table-hover m-0">
                                            <thead>
                                            <tr>
                                                <th>Código</th>
                                                <th>Cliente</th>
                                                <th>Descripción</th>
                                                <th>edit</th>
                                                <th>ver</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for arImplementaciones in arImplementaciones %}
                                                <tr>
                                                    <td>{{ arImplementaciones.codigoImplementacionPk }}</td>
                                                    <td>
                                                        <strong>{{ arImplementaciones.clienteRel.nombreComercial }}</strong>
                                                    </td>
                                                    <td>
                                                        {{ arImplementaciones.descripcion }}
                                                    </td>
                                                    <td>
                                                        <a href="{{ path('implementacion_nuevo', { 'codigoImplementacion':  arImplementaciones.codigoImplementacionPk }) }}"
                                                           class="btn btn-purple waves-effect waves-light btn-xs m-b-5"><i
                                                                    class="glyphicon glyphicon-pencil"
                                                                    style="padding: 3px;"></i>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="{{ path('implementacion_detalle', { 'codigoImplementacion':  arImplementaciones.codigoImplementacionPk }) }}"
                                                           class="btn btn-info waves-effect waves-light btn-xs"><i
                                                                    class="glyphicon glyphicon-eye-open"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    {% endblock content %}
                    <div class="btn-group" style="float: left">
                        <div class="btn btn-default ">Registros <span
                                    class="badge">{{ arImplementaciones.getTotalItemCount }}</span></div>
                        <div class="btn-group"
                             style="float: left;margin: 0px;padding-top: 0px">{{ knp_pagination_render(arImplementaciones) }}</div>
                    </div>
        {{ include('bloquesGenerales/pie.html.twig') }}
{% endblock %}