<table>
    <thead style="background-color: #efefef;color: #202020;">AppSoga - Devolucion de Tarea: <span style="background-color: #2e6da4;color: white;padding: 5px;" >{{ arTarea.codigoTareaPk }}</span>

    </thead><br>
    <tbody>
    <tr>
        <td colspan="2" style="color: #ffffff; background-color: #2e6da4;padding: 8px;">
            <p>Este correo se envía como notificación de la Devolucion a la tarea relacionada:</p>
        </td>
    </tr>
    <tr>
        <td><strong>Número: </strong></td>
        <td><span>{{ arTarea.codigoTareaPk }}</span></td>
    </tr><tr>
        <td><strong>Fecha de Registro:</strong></td>
        <td><span>{{ arTarea.fechaRegistro|date('d/m/Y') }}</span></td>
    </tr><tr>
        <td><strong>Registra: </strong></td>
        <td><span>{{ arTarea.codigoUsuarioRegistraFk }}</span></td>
    </tr><tr>
        <td colspan="2"><hr></td>
    </tr><tr>
        <td><strong>Fecha registro devolucion: </strong></td>
        <td><span>{{ devolucion.fecha|date('d/m/Y') }}</span></td>
    </tr><tr>
        <td><strong>Descripción: </strong></td>
        <td><span>{{ devolucion.comentarios }}</span></td>
    </tr><br>
    <tr>
        <td colspan="2" style="background-color: #2e6da4;color: #ffffff;text-align: center;">
            <h6>Por favor no responder este correo ya que es generado automaticamente.</h6>
        </td>
    </tr>
    </tbody>
</table>