
        <nav class="sidebar">
            <ul >
                <li><span>Principal</span></li>
                <li  class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect active"><i
                                class="glyphicon glyphicon-phone-alt"></i> <span> Gestión Llamadas </span> <span
                                class="menu-arrow"></span></a>
                    <ul class="list-unstyled">

                        <li class="has_sub">
                            <a href="{{ path('listadoLlamadas') }}" class="waves-effect">
                                <i class="mdi mdi-phone-incoming"></i>
                                <span class="label label-success pull-right"></span>
                                <span> Listar Llamadas</span>
                            </a>
                        </li>
                        <li class="has_sub">
                            <a href="{{ path('listadoLlamadasUsuario') }}" class="waves-effect">
                                <i class="mdi mdi-phone-classic"></i>
                                <span class="label label-success pull-right"></span>
                                <span> Mis Llamadas</span>
                            </a>
                        </li>
                        <li class="has_sub">
                            <a href="{{ path('listadoLlamadasReporte') }}" class="waves-effect">
                                <i class="glyphicon glyphicon-time"></i>
                                <span>Histórico</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect active"><i
                                class="glyphicon glyphicon-th-list"></i> <span> Tareas </span> <span
                                class="menu-arrow"></span></a>
                    <ul class="list-unstyled">

                        <li class="has_sub">
                            <a href="{{ path('listaTareaGeneral') }}" class="waves-effect">
                                <i class="glyphicon glyphicon-th-large"></i>
                                <span> Listar tareas</span>
                            </a>
                        </li>
                        <li class="has_sub">
                            <a href="{{ path('listaTareaUsuario') }}" class="waves-effect">
                                <i class="glyphicon glyphicon-th"></i>
                                <span> Mis tareas</span>
                            </a>
                        </li>
                        <li class="has_sub">
                            <a href="{{ path('listaTareaHistorico') }}" class="waves-effect">
                                <i class="glyphicon glyphicon-time"></i>
                                <span>Histórico</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-invert-colors"></i> <span> Casos (Incidencias) </span>
                        <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="{{ path('listadoCasosSinSolucionar') }}">
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <span>Pendientes</span>
                            </a></li>
                        <li><a href="{{ path('listadoCasosSolucionados') }}">
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <span>Solucionados</span>
                            </a></li>
                        <li><a href="{{ path('registrarCaso') }}">
                                <i class="glyphicon glyphicon-inbox"></i>
                                <span>Nuevo Caso</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-watermark"></i> <span> Errores </span>
                        <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="{{ path('erroresLista') }}">
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <span>Pendientes</span>
                            </a></li>
                        <li><a href="{{ path('listadoCasosSolucionados') }}">
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <span>Solucionados</span>
                            </a></li>
                    </ul>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-invert-colors"></i> <span> Tablero </span>
                        <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="{{ path('tablero_caso') }}">
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <span>Casos</span>
                            </a></li>
                        <li><a href="{{ path('tablero_tarea') }}">
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <span>Tareas</span>
                            </a></li>
                        <li><a href="{{ path('tablero_llamada') }}">
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <span>Llamadas</span>
                            </a></li>
                        <li><a href="{{ path('tablero_error') }}">
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <span>Error</span>
                            </a></li>
                        <li><a href="{{ path('tablero_usuario') }}">
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <span>Usuario</span>
                            </a></li>
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-invert-colors"></i> <span> Implementacion </span>
                        <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="{{ path('implementacion_lista') }}">
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <span>Lista</span>
                            </a></li>
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-invert-colors"></i> <span> Proyecto </span>
                        <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="{{ path('proyecto_lista') }}">
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <span>Lista</span>
                            </a></li>
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-invert-colors"></i> <span> Solicitud </span>
                        <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="{{ path('solicitud_lista') }}">
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <span>Lista</span>
                            </a></li>
                    </ul>
                </li>


                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-invert-colors"></i> <span> Reporte </span>
                        <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="{{ path('reporte_generar') }}">
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <span>Generar</span>
                            </a></li>
                    </ul>
                </li>


            </ul>

        </nav>
<!-- Left Sidebar End -->




