{% extends 'base_admin.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            <a class="btn btn-default btn-sm"
               href="{{ path('matriz_lista') }}">Volver</a>
        </div>
    </div>
    <br/><br/>
    <table width="100%" class="table table-condensed table-bordered tabla-datos">
        <tr>
            <td class="titulo">CODIGO:</td>
            <td class="td-in-well">{{ arMatriz.codigoMatrizPk }}</td>
            <td class="titulo">GRUPO:</td>
            <td class="td-in-well">{{ arMatriz.grupoRel.nombre | default('') }}</td>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
        </tr>
        <tr>
            <td class="titulo">NOMBRE:</td>
            <td class="td-in-well">{{ arMatriz.nombre }}</td>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
        </tr>
    </table>
    <div class="row">
        <div class="col-md-12">
            <div class="tabs tabs-primary">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#normas" data-toggle="tab"><i class="fa fa-star"></i> Normas</a></li>
                    <li><a href="#recent1" data-toggle="tab">Otro</a></li>
                </ul>
                <div class="tab-content">
                    <div id="normas" class="tab-pane active">
                        <table class="table table-condensed table-bordered table-hover mb-none">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Tipo</th>
                                <th>Numero</th>
                                <th>Subgrupo</th>
                                <th>Entidad</th>
                                <th>Jurisdiccion</th>
                                <th>Nombre</th>
                                <th>Descripcion</th>
                                <th title="Estado derogado">DER</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for arNorma in arNormas %}
                                <tr>
                                    <td>{{ arNorma.codigoNormaPk }}</td>
                                    <td>{{ arNorma.normaTipoNombre }}</td>
                                    <td>{{ arNorma.numero }}</td>
                                    <td>{{ arNorma.subgrupoNombre }}</td>
                                    <td>{{ arNorma.entidadNombre }}</td>
                                    <td>{{ arNorma.jurisdiccionNombre }}</td>
                                    <td>{{ arNorma.nombre }}</td>
                                    <td>{{ arNorma.descripcion }}</td>
                                    <td>{{ arNorma.estadoDerogado ? 'SI':'NO' }}</td>
                                    <td style="text-align: center">
                                        <a href="javascript:abrirVentana3('{{ path('matriz_norma_nuevo', {'id': arNorma.codigoNormaPk, 'codigoMatriz': arMatriz.codigoMatrizPk}) }}', 'NuevaNorma', 600, 1200)"><i class="fa fa-edit fa-lg"></i></a>
                                    </td>
                                    <td style="text-align: center">
                                        <a href="{{ path('norma_detalle', { 'id': arNorma.codigoNormaPk }) }}">
                                            <i class="fa fa-share-square fa-lg"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <footer class="panel-footer">
                            <div class="row">
                                <div class="col-sm-9 col-sm-offset-3" >
                                    <a class="btn btn-sm btn-default" style="float: right; margin-right: 5px !important;" href="javascript:abrirVentana3('{{ path('matriz_norma_nuevo', {'id': 0, 'codigoMatriz': arMatriz.codigoMatrizPk}) }}', 'NuevaNorma', 600, 1200)">Nuevo</a>
                                </div>
                            </div>
                        </footer>
                    </div>
                    <div id="recent1" class="tab-pane">
                        <p>Recent</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}
