{% extends 'base_admin.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            <a class="btn btn-default btn-sm"
               href="{{ path('matriz_lista') }}">Volver</a>
        </div>
    </div>
    <br/><br/>
    <table width="100%" class="table table-condensed table-bordered tabla-datos">
        <tr>
            <td class="titulo">CODIGO:</td>
            <td class="td-in-well">{{ arMatriz.codigoMatrizPk }}</td>
            <td class="titulo">GRUPO:</td>
            <td class="td-in-well">{{ arMatriz.grupoRel.nombre | default('') }}</td>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
        </tr>
        <tr>
            <td class="titulo">NOMBRE:</td>
            <td class="td-in-well">{{ arMatriz.nombre }}</td>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
        </tr>
    </table>
    <div class="row">
        <div class="col-md-12">
            <div class="tabs tabs-primary">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#obligaciones" data-toggle="tab"><i class="fa fa-star"></i> Obligaciones</a></li>
                    <li><a href="#recent1" data-toggle="tab">Otro</a></li>
                </ul>
                <div class="tab-content">
                    <div id="obligaciones" class="tab-pane active">
                        <table class="table table-condensed table-bordered table-hover mb-none">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Matriz</th>
                                <th>Grupo</th>
                                <th>Subgrupo</th>
                                <th>Obligacion</th>
                                <th>Accion</th>
                                <th title="Estado derogado">DER</th>
                                <th title="Verificable">VER</th><th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for arObligacion in arObligaciones %}
                                <tr>
                                    <td>{{ arObligacion.codigoObligacionPk }}</td>
                                    <td>{{ arObligacion.matrizNombre }}</td>
                                    <td>{{ arObligacion.grupoNombre }}</td>
                                    <td>{{ arObligacion.subgrupoNombre }}</td>
                                    <td>{{ arObligacion.obligacion }}</td>
                                    <td>{{ arObligacion.accionNombre }}</td>
                                    <td>{{ arObligacion.estadoDerogado ? 'SI':'NO' }}</td>
                                    <td>{{ arObligacion.verificable ? 'SI':'NO' }}</td>
                                    <td style="text-align: center">
                                        <a href="javascript:abrirVentana3('{{ path('norma_obligacion_nuevo', {'id': arObligacion.codigoObligacionPk, 'codigoNorma': arObligacion.codigoNormaFk}) }}', 'NuevoObligacion', 600, 1200)"><i class="fa fa-edit fa-lg"></i></a>
                                    </td>
                                    <td style="text-align: center">
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div id="recent1" class="tab-pane">
                        <p>Recent</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}
