{% extends 'base_sin_menu.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <br>
    <div class="col-md-12">
        {{ notificar()|raw }}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4> Filtros de búsqueda</h4>
            </div>
            <div class="panel-body">
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label">Codigo:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.txtCodigoItem) }}
                    </div>
                    <label class="col-sm-2 control-label">Nombre:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.txtNombre) }}
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                {{ form_widget(form.btnFiltrar,{'attr':{'style':'float: right;'}}) }}
                <br/>
                <br/>
            </div>
        </div>
    </div>
    <div>
        <div class="col-md-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered mb-none tabla-datos">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Existencia</th>
                                <th>Precio</th>
                                <th>Afecta inventario</th>
                                <th>Cantidad</th>
                                <th>Producto</th>
                                <th>Servicio</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for arItem in arItems %}
                                <tr>
                                    <td>{{ arItem.codigoItemPk }}</td>
                                    <td>{{ arItem.nombre }}</td>
                                    <td align="center">{{ arItem.cantidadExistencia }}</td>
                                    <td class="numero">{{ arItem.vrPrecio | number_format }}</td>
                                    <td align="center">{% if arItem.afectaInventario == true %}{{ 'Si' }}{% else %}{{ 'No' }}{% endif %}</td>
                                    <td align="center">{% if arItem.afectaInventario == true %}{{ 'Si' }}{% else %}{{ 'No' }}{% endif %}</td>
                                    <td align="center">{% if arItem.producto == true %}{{ 'Si' }}{% else %}{{ 'No' }}{% endif %}</td>
                                    <td align="center">{% if arItem.servicio == true %}{{ 'Si' }}{% else %}{{ 'No' }}{% endif %}</td>
                                    <td style="text-align: center;"><input type="number"
                                                                           name="itemCantidad[{{ arItem.codigoItemPk }}]"
                                                                           size="10" style="width:70px"></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div style="display: flex; flex-direction: row;">
                        <span style="margin-right: 4px">registros: {{ arItems.getTotalItemCount }}</span>
                        {{ knp_pagination_render(arItems) }}
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            {{ form_widget(form.btnGuardar,{'attr':{'style':'float: right;'}}) }}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}




































