{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    {{ notificar()|raw }}
    <div class="btn-group" style="float:left">
        <a class="btn btn-default btn-sm"
           href="{{ path('movimiento_general_lista', {'movimientoTipo': arMovimiento.movimientoTipoRel.codigoMovimientoTipoPk}) }}">Volver</a>
        {{ form_widget(form.btnAutorizar) }}
        {{ form_widget(form.btnDesautorizar) }}
        {{ form_widget(form.btnAprobado) }}
        {{ form_widget(form.btnImprimir) }}
        <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Opciones <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
                {% if arMovimiento.codigoMovimientoTipoFk == 'FAC' %}
                <li>
                    <a href="javascript:abrirVentana3('{{ path('movimiento_general_enviarcorreo', {'id':arMovimiento.codigoMovimientoPk }) }}', 'EnviarCorreoFE', 600, 900)">Enviar correo FE</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div style="float:right">
        {% if arMovimiento.estadoAutorizado == true %}<span class="badge badge-success">Autorizado</span>{% endif %}
    </div>
    <div style="float:right">
        {% if arMovimiento.estadoAnulado == true %}<span class="badge badge-success">Desautorizado</span>{% endif %}
    </div>
    <div style="float:right">
        {% if arMovimiento.estadoAprobado == true %}<span class="badge label-success">Aprobado</span>{% endif %}
    </div>
    <br><br>
    <table width="100%" class="table table-condensed table-bordered tabla-informacion ">
        <tr>
            <td class="titulo">NUMERO:</td>
            <td class="td-in-well">{{ arMovimiento.numero }}</td>
            <td class="titulo">ID:</td>
            <td class="td-in-well">{{ arMovimiento.codigoMovimientoPk }}</td>
            <td class="titulo">SUBTOTAL:</td>
            <td class="numero"> {{ arMovimiento.vrSubtotal | number_format(0, '.', ',') }}</td>
        </tr>
        <tr>
            <td class="titulo">FECHA:</td>
            <td class="td-in-well">{{ arMovimiento.fecha|date('Y-m-d') }}</td>
            <td class="titulo">DOCUMENTO:</td>
            <td class="td-in-well">{{ arMovimiento.movimientoTipoRel.nombre }}</td>
            <td class="titulo">BASE IVA:</td>
            <td class="td-in-well" style="text-align: right;">{{ arMovimiento.vrBaseIva | number_format(0, '.', ',') }}</td>
        </tr>
        <tr>
            <td class="titulo">FECHA VENCE:</td>
            <td class="td-in-well">{{ arMovimiento.fechaVence | date('Y-m-d') }}</td>
            <td class="titulo">TERCERO:</td>
            <td class="td-in-well">{{ arMovimiento.terceroRel.nombreCorto | default('') }}</td>
            <td class="titulo">(+)IVA:</td>
            <td class="td-in-well" style="text-align: right;">{{ arMovimiento.vrIva | number_format(0, '.', ',') }}</td>
        </tr>
        <tr>
            <td class="titulo">DOCUMENTO SOPORTE:</td>
            <td class="td-in-well">{{ arMovimiento.documentoSoporte }}</td>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
            <td class="titulo">BRUTO:</td>
            <td class="td-in-well"
                style="text-align: right;">{{ arMovimiento.vrTotalBruto | number_format(0, '.', ',') }}</td>
        </tr>
        <tr>
            <td class="titulo">REFERENCIA:</td>
            <td class="td-in-well">
                {% if arMovimiento.codigoMovimientoTipoFk == 'NC' or arMovimiento.codigoMovimientoTipoFk == 'ND' %}
                    COD: {{ arMovimiento.codigoMovimientoFk  | default("") }} NUM: {{ arMovimiento.movimientoRel.numero   | default("") }}
                    {% if arMovimiento.estadoAutorizado == 0 %}
                        <a class="btn btn-default btn-xs" href="javascript:abrirVentana3('{{ path('movimiento_general_referencia', {'id': arMovimiento.codigoMovimientoPk }) }}', 'AdicionarFactura', 600, 900)">Agregar</a>
                    {% endif %}
                {% endif %}
            </td>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
            <td class="titulo">(-)RTE FUENTE:</td>
            <td class="td-in-well"
                style="text-align: right;">{{ arMovimiento.vrRetencionFuente | number_format(0, '.', ',') }}</td>
        </tr>
        <tr>
            <td class="titulo">FORMA PAGO:</td>
            <td class="td-in-well">{{ arMovimiento.formaPagoRel.nombre | default('') }}</td>
            <td class="titulo">PLAZO PAGO:</td>
            <td class="td-in-well">{{ arMovimiento.plazoPago }}</td>
            <td class="titulo">(-)RTE IVA:</td>
            <td class="td-in-well" style="text-align: right;">{{ arMovimiento.vrRetencionIva | number_format(0, '.', ',') }}</td>
        </tr>
        <tr>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
            <td class="titulo">NETO:</td>
            <td class="td-in-well"
                style="text-align: right;">{{ arMovimiento.vrTotalNeto | number_format(0, '.', ',') }}</td>
        </tr>
        <tr>
            <td class="titulo">COMENTARIO:</td>
            <td class="td-in-well" colspan="5">{{ arMovimiento.comentario }}</td>
        </tr>

    </table>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#detalles" data-toggle="tab">Detalles</a></li>
    </ul>
    <section class="panel">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover tabla-datos">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Cod</th>
                        <th>Item</th>
                        <th>Referencia</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>%Dsc</th>
                        <th>Subtotal</th>
                        <th>Base</th>
                        <th>Cod</th>
                        <th>Iva</th>
                        <th title="Codigo de la retencion">RET</th>
                        <th>Total</th>
                        <th><input type="checkbox" name=
                            "ChkSeleccionarTodosDetalle"
                                   OnClick="ChequearTodosTabla(this, 'ChkSeleccionar[]');"/></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for arMovimientoDetalle  in arMovimientoDetalles %}
                        <tr>
                            <td>{{ arMovimientoDetalle.codigoMovimientoDetallePk }}</td>
                            <input type="hidden"
                                   name="arrCodigo[]"
                                   value="{{ arMovimientoDetalle.codigoMovimientoDetallePk }}">
                            <td>{{ arMovimientoDetalle.codigoItemFk }} </td>
                            <td>{{ arMovimientoDetalle.itemNombre }}</td>
                            <td>{{ arMovimientoDetalle.referencia }}</td>
                            {% if arMovimiento.estadoAutorizado == 1 %}
                                <td>{{ arMovimientoDetalle.cantidad }}</td>
                                <td class="numero">{{ arMovimientoDetalle.vrPrecio | number_format(0, '.', ',') }}</td>
                                <td>{{ arMovimientoDetalle.porcentajeDescuento }}</td>
                            {% else %}
                                <td style="text-align: center;">
                                    <input type="number"
                                           name="arrCantidad[{{ arMovimientoDetalle.codigoMovimientoDetallePk }}]"
                                           value="{{ arMovimientoDetalle.cantidad }}"
                                           style="text-align: right; width:90px"
                                           size="10">
                                </td>
                                <td style="text-align: center;">
                                    <input type="number"
                                           name="arrValor[{{ arMovimientoDetalle.codigoMovimientoDetallePk }}]"
                                           value="{{ arMovimientoDetalle.vrPrecio }}"
                                           style="text-align: right; width:90px"
                                           size="10">
                                </td>
                                <td style="text-align: center;">
                                    <input type="number"
                                           name="arrPorcentajeDescuento[{{ arMovimientoDetalle.codigoMovimientoDetallePk }}]"
                                           value="{{ arMovimientoDetalle.porcentajeDescuento }}"
                                           style="text-align: right; width:90px"
                                           size="5">
                                </td>
                            {% endif %}
                            <td class="numero">{{ arMovimientoDetalle.vrSubtotal | number_format(0, '.', ',') }}</td>
                            {% if arMovimiento.estadoAutorizado %}
                                <td class="numero">{{ arMovimientoDetalle.vrBaseIva | number_format(0, '.', ',') }}</td>
                                <td>{{ arMovimientoDetalle.codigoImpuestoIvaFk }}</td>
                                <td style="text-align: right;">{{ arMovimientoDetalle.vrIva | number_format(0,'.',',') }}</td>
                                <td>{{ arMovimientoDetalle.codigoImpuestoRetencionFk }}</td>
                            {% else %}
                                <td class="numero">{{ arMovimientoDetalle.vrBaseIva }}</td>
                                <td style="text-align: left">
                                    <select class="form-control input-sm" name="cboImpuestoIva[{{ arMovimientoDetalle.codigoMovimientoDetallePk }}]">
                                        {% for arImpuestoIva in arImpuestosIva %}
                                            <option value="{{ arImpuestoIva.codigoImpuestoPk }}" {% if arMovimientoDetalle.codigoImpuestoIvaFk == arImpuestoIva.codigoImpuestoPk %} selected {% endif %}>{{ arImpuestoIva.nombre }}</option>
                                        {% endfor %}
                                    </select></td>
                                <td style="text-align: right;">{{ arMovimientoDetalle.vrIva | number_format(0,'.',',') }}</td>
                                <td style="text-align: left;">
                                    <select class="form-control input-sm" name="cboImpuestoRetencion[{{ arMovimientoDetalle.codigoMovimientoDetallePk }}]">
                                        {% for arImpuestoRetencion in arImpuestosRetencion %}
                                            <option value="{{ arImpuestoRetencion.codigoImpuestoPk }}" {% if arMovimientoDetalle.codigoImpuestoRetencionFk == arImpuestoRetencion.codigoImpuestoPk %} selected {% endif %}>{{ arImpuestoRetencion.nombre }}</option>
                                        {% endfor %}
                                    </select></td>
                            {% endif %}
                            <td class="numero">{{ arMovimientoDetalle.vrTotal | number_format(0, '.', ',') }}</td>
                            <td style="text-align: center;"><input type="checkbox" style="text-align: right;"
                                                                   name="ChkSeleccionar[]"
                                                                   value="{{ arMovimientoDetalle.codigoMovimientoDetallePk }}"/>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div style="display: flex; flex-direction: row;">
                <span style="margin-right: 4px">registros: {{ arMovimientoDetalles.getTotalItemCount }}</span>
                {{ knp_pagination_render(arMovimientoDetalles) }}
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-9 col-sm-offset-3">
                    <div style="float: right; margin-right: 5px !important;" class="btn-group" role="group"
                         aria-label="...">
                        <div class="btn-group">
                            {{ form_widget(form.btnActualizar) }}
                            {% if arMovimiento.estadoAutorizado == 0 %}
                                <a class="btn btn-default btn-sm"
                                   href="javascript:abrirVentana3('{{ path('movimiento_general_detalle_nuevo', {'id':arMovimiento.codigoMovimientoPk }) }}', 'MovimientoAdicionarDetalle', 600, 900)">Nuevo</a>
                            {% endif %}
                            {{ form_widget(form.btnEliminar) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ form_end(form) }}
{% endblock %}