{% extends 'base.html.twig' %}
 {% block content %}
     {{ form_start(form) }}
     {{ notificar()|raw }}
     <div class="row">
         <div class="col-md-12">
             <section class="panel">
                 <header class="panel-heading">
                     <div class="panel-actions">
                         <a href="#" class="fa fa-caret-down"></a>
                     </div>
                     <h2 class="panel-title">Filtro de busqueda</h2>
                 </header>
                 <div class="panel-body">
                     <div class="form-group">
                         <div class="form-group form-group-sm">
                             <label class="col-sm-1 control-label">Codigo movimiento:</label>
                             <div class="col-sm-2">
                                 {{ form_widget(form.codigoMovimiento) }}
                             </div>
                         </div>
                     </div>
                 </div>
                 <div class="panel-footer">
                     <div class="row">
                         <div class="col-sm-9 col-sm-offset-3">
                             {{ form_widget(form.btnGenerar, { 'attr': {'class': 'btn btn-primary', 'style':'float:right'} }) }}
                         </div>
                     </div>
                 </div>
             </section>
         </div>

     </div>
     {{ form_end(form) }}
 {% endblock %}




































