<aside id="sidebar-left" class="sidebar-left">

    <div class="sidebar-header">
        <div class="sidebar-title">
            Navigation
        </div>
        <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html"
             data-fire-event="sidebar-left-toggle">
            <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
        </div>
    </div>
    <div class="nano">
        <div class="nano-content">
            <nav id="menu" class="nav-main" role="navigation">
                <ul class="nav nav-main">
                    <li class="nav-active">
                        <a href="{{ path('inicio') }}">
                            <i class="fa fa-home" aria-hidden="true"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-parent">
                        <a>
                            <i class="fa fa-align-left" aria-hidden="true"></i>
                            <span>Inventario</span>
                        </a>
                        <ul class="nav nav-children" style="">
                            <li class="nav-parent">
                                <a>
                                    <i class="fa fa-align-left" aria-hidden="true"></i>
                                    <span>Movimiento</span>
                                </a>
                                <ul class="nav nav-children" style="">
                                    <li>
                                        <a href="{{ path('movimiento_lista', {'documento':'ENT'}) }}"
                                           class="waves-effect">
                                            Entrada</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('movimiento_lista', {'documento':'COM'}) }}"
                                           class="waves-effect">
                                            Compra</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('movimiento_lista', {'documento':'SAL'}) }}"
                                           class="waves-effect">
                                            Salida</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('movimiento_lista', {'documento':'FAC'}) }}"
                                           class="waves-effect">
                                            Factura</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-parent">
                                <a>
                                    <i class="fa fa-align-left" aria-hidden="true"></i>
                                    <span>Administración</span>
                                </a>
                                <ul class="nav nav-children" style="">
                                    <li>
                                        <a href="{{ path('tercero_lista') }}" class="waves-effect">
                                            Tercero</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('item_lista') }}" class="waves-effect">
                                            Item</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-parent">
                                <a>
                                    <i class="fa fa-align-left" aria-hidden="true"></i>
                                    <span>Utilidad</span>
                                </a>
                                <ul class="nav nav-children" style="">
                                    <li>
                                        <a href="{{ path('utilidad_generar_factura') }}" class="waves-effect">Generar factura</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-parent">
                                <a>
                                    <i class="fa fa-align-left" aria-hidden="true"></i>
                                    <span>Informe</span>
                                </a>
                                <ul class="nav nav-children" style="">
                                    <li>
                                        <a href="{{ path('informe_movimiento_lista_Detalle') }}" class="waves-effect">
                                            Detalle</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('informe_existencia_lista') }}" class="waves-effect">
                                            Existencias</a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </li>
                    <li class="nav-parent">
                        <a>
                            <i class="fa fa-align-left" aria-hidden="true"></i>
                            <span>Cartera</span>
                        </a>
                        <ul class="nav nav-children" style="">
                            <li class="nav-parent">
                                <a>
                                    <i class="fa fa-align-left" aria-hidden="true"></i>
                                    <span>Movimiento</span>
                                </a>
                                <ul class="nav nav-children" style="">
                                    <li>
                                        <a href="{{ path('recibo_lista') }}" class="waves-effect">
                                            Recibo</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-parent">
                                <a>
                                    <i class="fa fa-align-left" aria-hidden="true"></i>
                                    <span>Informe</span>
                                </a>
                                <ul class="nav nav-children" style="">
                                    <li>
                                        <a href="{{ path('informe_cuentas_cobrar') }}" class="waves-effect">
                                            Cuenta por cobrar</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-parent">
                        <a>
                            <i class="fa fa-align-left" aria-hidden="true"></i>
                            <span>Compra</span>
                        </a>
                        <ul class="nav nav-children" style="">
                            <li class="nav-parent">
                                <a>
                                    <i class="fa fa-align-left" aria-hidden="true"></i>
                                    <span>Informe</span>
                                </a>
                                <ul class="nav nav-children" style="">
                                    <li>
                                        <a href="{{ path('informe_cuentas_pagar') }}" class="waves-effect">
                                            Cuenta por pagar</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-parent">
                        <a>
                            <i class="fa fa-align-left" aria-hidden="true"></i>
                            <span>Adminstracion</span>
                        </a>
                        <ul class="nav nav-children" style="">
                            <li class="nav-parent">
                                <a>
                                    <i class="fa fa-align-left" aria-hidden="true"></i>
                                    <span>Recurso humano</span>
                                </a>
                                <ul class="nav nav-children" style="">
                                    <li>
                                        <a href="{{ path('RecursoHumano_empleado_lista') }}" class="waves-effect">Empleado</a>
                                        <a href="{{ path('RecursoHumano_contrato_lista') }}" class="waves-effect">Contrato</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</aside>