<aside id="sidebar-left" class="sidebar-left">

    <div class="sidebar-header">
        <div class="sidebar-title">
            Navigation
        </div>
        <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
            <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
        </div>
    </div>

    <div class="nano">
        <div class="nano-content">
            <nav id="menu" class="nav-main" role="navigation">
                <ul class="nav nav-main">
                    <li class="nav-active">
                        <a href="{{ path('inicio_admin') }}">
                            <i class="fa fa-dashboard" aria-hidden="true"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-parent">
                        <a>
                            <i class="fa fa-money" aria-hidden="true"></i>
                            <span>Comercial</span>
                        </a>
                        <ul class="nav nav-children">
                            <li><a href="{{ path('cliente_lista') }}"><span>Cliente</span></a></li>
                        </ul>
                    </li>
                    <li class="nav-parent">
                        <a>
                            <i class="fa fa-gavel" aria-hidden="true"></i>
                            <span>Principal</span>
                        </a>
                        <ul class="nav nav-children">
                            <li><a href="{{ path('norma_lista') }}"><span>Norma</span></a></li>
                        </ul>
                    </li>
                    <li class="nav-parent">
                        <a>
                            <i class="fa fa-sitemap" aria-hidden="true"></i>
                            <span>Administración</span>
                        </a>
                        <ul class="nav nav-children">
                            <li><a href="{{ path('matriz_lista') }}"><span>Matriz</span></a></li>
                        </ul>
                        <ul class="nav nav-children">
                            <li><a href="{{ path('grupo_lista') }}"><span>Grupo</span></a></li>
                        </ul>
                        <ul class="nav nav-children">
                            <li><a href="{{ path('subGrupo_lista') }}"><span>Sub grupo</span></a></li>
                        </ul>
                        <ul class="nav nav-children">
                            <li><a href=""><span>Clasificación</span></a></li>
                        </ul>
                    </li>
                </ul>
            </nav>

        </div>

    </div>

</aside>