{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            <a class="btn btn-default btn-sm" href="{{ path('movimiento_lista') }}">Volver</a>
        </div>
    </div>
    <br><br>
    <table width="100%" class="table table-condensed table-bordered tabla-datos ">
        <tr>
            <td class="titulo">ID</td>
            <td class="td-in-well">{{ arMovimiento.codigoMovimientoPk }}</td>
        </tr>
        <tr>
            <td class="titulo">TERCERO</td>
            <td class="td-in-well">{{ arMovimiento.terceroRel.nombreCorto | default('') }}</td>
        </tr>
        <tr>
            <td class="titulo">FECHA</td>
            <td class="td-in-well">{{ arMovimiento.fecha|date('Y-m-d') }}</td>
        </tr>
    </table>
    {{ form_end(form) }}
{% endblock %}




































