{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="btn-group" style="float:left">
            <a class="btn btn-default btn-sm" href="{{ path('movimiento_lista', {'documento': arMovimiento.documentoRel.codigoDocumentoPk}) }}">Volver</a>
            {{ form_widget(form.btnAutorizar) }}
            {{ form_widget(form.btnDesautorizar) }}
            {{ form_widget(form.btnAprobado) }}
            {{ form_widget(form.btnImprimir) }}
    </div>
    <div style="float:right">
        {% if arMovimiento.estadoAutorizado == true %}<span class="badge badge-success">Autorizado</span>{% endif %}
    </div>
    <div style="float:right">
        {% if arMovimiento.estadoAnulado == true %}<span class="badge badge-success">Desautorizado</span>{% endif %}
    </div>
    <div style="float:right">
        {% if arMovimiento.estadoAprobado == true %}<span class="badge badge-success">Aprobado</span>{% endif %}
    </div>
    <br><br>
    <table width="100%" class="table table-condensed table-bordered tabla-datos ">
        <tr>
            <td class="titulo">ID</td>
            <td class="td-in-well">{{ arMovimiento.codigoMovimientoPk }}</td>
            <td class="titulo">Subtotal</td>
            <td> {{ arMovimiento.vrSubtotal | number_format(0, '.', ',') }}</td>
        </tr>
        <tr>
            <td class="titulo">NUMERO</td>
            <td class="td-in-well">{{ arMovimiento.numero}}</td>
            <td class="td-in-well">Total IVA</td>
            <td>{{ arMovimiento.vrIva | number_format (0, '.', ',') }}</td>
        </tr>
        <tr>
            <td class="titulo">TERCERO</td>
            <td class="td-in-well">{{ arMovimiento.terceroRel.nombreCorto | default('') }}</td>
            <td class="td-in-well">Total Bruto</td>
            <td>{{ arMovimiento.vrTotalBruto | number_format (0, '.', ',') }}</td>

        </tr>
        <tr>
            <td class="titulo">FECHA</td>
            <td class="td-in-well">{{ arMovimiento.fecha|date('Y-m-d') }}</td>
            <td class="td-in-well">Total Neto</td>
            <td>{{ arMovimiento.vrTotalNeto | number_format (0, '.', ',') }}</td>
        </tr>
    </table>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#detalles" data-toggle="tab">Detalles</a></li>
    </ul>
    <br/>
    <section class="panel">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered mb-none">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Item</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Porcentaje IVA</th>
                        <th>Subtotal</th>
                        <th>IVA</th>
                        <th>Total</th>
                        <th><input type="checkbox" name="ChkSeleccionarTodosDetalle"
                                   OnClick="ChequearTodosTabla(this, 'ChkSeleccionar[]');"/></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for arMovimientoDetalle  in arMovimientoDetalles %}
                        <tr>
                            <td>{{ arMovimientoDetalle.codigoMovimientoDetallePk }}</td>
                            <input type="hidden"
                                   name="arrCodigo[]"
                                   value="{{ arMovimientoDetalle.codigoMovimientoDetallePk }}">
                            <td>{{ arMovimientoDetalle.item }}</td>
                            {% if arMovimiento.estadoAutorizado == 1 %}
                            <td>{{ arMovimientoDetalle.cantidad }}</td>
                            {% else %}
                            <td style="text-align: center;">
                                <input type="number"
                                       name="arrCantidad[{{ arMovimientoDetalle.codigoMovimientoDetallePk }}]"
                                       value="{{ arMovimientoDetalle.cantidad }}"
                                       style="text-align: right; width:90px"
                                       size="10">
                            </td>
                            {% endif %}
                            {% if arMovimiento.estadoAutorizado == 1 %}
                            <td>{{ arMovimientoDetalle.vrPrecio | number_format(0, '.', ',') }}</td>
                            {% else %}
                            <td style="text-align: center;">
                                <input type="number"
                                       name="arrValor[{{ arMovimientoDetalle.codigoMovimientoDetallePk }}]"
                                       value="{{ arMovimientoDetalle.vrPrecio }}"
                                       style="text-align: right; width:90px"
                                       size="10">
                            </td>
                                {% endif %}
                            <td>{{ arMovimientoDetalle.porcentajeIva }}</td>
                            <td>{{ arMovimientoDetalle.vrSubtotal | number_format (0, '.', ',')}}</td>
                            <td>{{ arMovimientoDetalle.vrIva | number_format (0, '.', ',') }}</td>
                            <td>{{ arMovimientoDetalle.vrTotal | number_format (0, '.', ',') }}</td>
                            <td style="text-align: center;"><input type="checkbox" style="text-align: right;"
                                                                   name="ChkSeleccionar[]"
                                                                   value="{{ arMovimientoDetalle.codigoMovimientoDetallePk }}"/>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div style="display: flex; flex-direction: row;">
                <span style="margin-right: 4px">registros: {{ arMovimientoDetalles.getTotalItemCount }}</span>
                {{ knp_pagination_render(arMovimientoDetalles) }}
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-9 col-sm-offset-3">
                    <div style="float: right; margin-right: 5px !important;" class="btn-group" role="group"
                         aria-label="...">
                        <div class="btn-group">
                            {{ form_widget(form.btnActualizar) }}
                            {% if arMovimiento.estadoAutorizado == 0 %}
                            <a class="btn btn-default btn-sm"
                               href="javascript:abrirVentana3('{{ path('movimiento_detalle_nuevo', {'id':arMovimiento.codigoMovimientoPk }) }}', 'MovimientoAdicionarDetalle', 600, 900)">Nuevo</a>
                            {% endif %}
                            {{ form_widget(form.btnEliminar) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ form_end(form) }}
{% endblock %}




































