{% extends 'base_admin.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            <a class="btn btn-default btn-sm" href="{{ path('norma_lista') }}">Volver</a>
        </div>
    </div>
    <br/><br/>
    <table width="100%" class="table table-condensed table-bordered tabla-datos">
        <tr>
            <td class="titulo">CODIGO:</td>
            <td class="td-in-well">{{ arNorma.codigoNormaPk }}</td>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
        </tr>
        <tr>
            <td class="titulo">NOMBRE:</td>
            <td class="td-in-well">{{ arNorma.nombre }}</td>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
        </tr>
        <tr>
            <td class="titulo">ASUNTO:</td>
            <td class="td-in-well" colspan="5">{{ arNorma.descripcion }}</td>
        </tr>
    </table>
    <div class="row">
        <div class="col-md-12">
            <div class="tabs tabs-primary">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#obligaciones" data-toggle="tab"><i class="fa fa-star"></i> Obligaciones</a></li>
                    <li><a href="#vigencias" data-toggle="tab">Vigencias</a></li>
                </ul>
                <div class="tab-content">
                    <div id="obligaciones" class="tab-pane active">
                        <div class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a href="#" class="fa fa-caret-down"></a>
                                    <a href="#" class="fa fa-times"></a>
                                </div>
                                <h2 class="panel-title">Filtro de busqueda obligación</h2>
                            </header>
                            <div class="panel-body" >
                                <div class="form-group">
                                    <label class="col-sm-1 control-label">Matriz:</label>
                                    <div class="col-sm-2">
                                        {{ form_widget(form.matrisRel) }}
                                    </div>
                                    <label class="col-sm-1 control-label">Grupo:</label>
                                    <div class="col-sm-2">
                                        {{ form_widget(form.grupoRel) }}
                                    </div>
                                    <label class="col-sm-1 control-label">Subgrupo:</label>
                                    <div class="col-sm-2">
                                        {{ form_widget(form.subGrupoRel) }}
                                    </div>
                                    <label class="col-sm-1 control-label">Acción:</label>
                                    <div class="col-sm-2">
                                        {{ form_widget(form.accionRel) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label">Obligacion:</label>
                                    <div class="col-sm-5">
                                        {{ form_widget(form.Obligacion) }}
                                    </div>
                                    <label class="col-sm-1 control-label">Derogado:</label>
                                    <div class="col-sm-2">
                                        {{ form_widget(form.ObligacionDerogado) }}
                                    </div>
                                    <label class="col-sm-1 control-label">Verificable:</label>
                                    <div class="col-sm-2">
                                        {{ form_widget(form.ObligacionVerificable) }}
                                    </div>
                                </div>
                                <div class="form-group">

                                </div>
                            </div>
                            <footer class="panel-footer" style="display: none;">
                                <div class="row">
                                    <div class="col-sm-9 col-sm-offset-3">
                                        {{ form_widget(form.btnFiltrarObligacion, { 'attr': {'class': 'btn btn-primary', 'style':'float:right'} }) }}
                                    </div>
                                </div>
                            </footer>
                        </div>
                        <br>
                        <table class="table table-condensed table-bordered table-hover mb-none">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Matriz</th>
                                <th>Grupo</th>
                                <th>Subgrupo</th>
                                <th>Obligacion</th>
                                <th>Accion</th>
                                <th title="Estado derogado">DER</th>
                                <th title="Verificable">VER</th><th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for arObligacion in arObligaciones %}
                                <tr>
                                    <td>{{ arObligacion.codigoObligacionPk }}</td>
                                    <td>{{ arObligacion.matrizNombre }}</td>
                                    <td>{{ arObligacion.grupoNombre }}</td>
                                    <td>{{ arObligacion.subgrupoNombre }}</td>
                                    <td>{{ arObligacion.obligacion }}</td>
                                    <td>{{ arObligacion.accionNombre }}</td>
                                    <td>{{ arObligacion.estadoDerogado ? 'SI':'NO' }}</td>
                                    <td>{{ arObligacion.verificable ? 'SI':'NO' }}</td>
                                    <td style="text-align: center">
                                        <a href="javascript:abrirVentana3('{{ path('norma_obligacion_nuevo', {'id': arObligacion.codigoObligacionPk, 'codigoNorma': arNorma.codigoNormaPk}) }}', 'NuevoObligacion', 600, 1200)"><i class="fa fa-edit fa-lg"></i></a>
                                    </td>
                                    <td style="text-align: center">
                                        <input type="checkbox" name="ChkSeleccionarObligaciones[]" value="{{ arObligacion.codigoObligacionPk }}"/>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {{ knp_pagination_render(arObligaciones) }}
                        <footer class="panel-footer">
                            <div class="row">
                                <div class="col-sm-9 col-sm-offset-3" >
                                    <div style="float: right; margin-right: 5px !important;" class="btn-group" role="group" aria-label="...">
                                        <a class="btn btn-sm btn-default" href="javascript:abrirVentana3('{{ path('norma_obligacion_nuevo', {'id': 0, 'codigoNorma': arNorma.codigoNormaPk}) }}', 'NuevoObligacion', 600, 1200)">Nuevo</a>
                                        {{ form_widget(form.btnEliminarObligacion) }}
                                    </div>
                                </div>
                            </div>
                        </footer>
                    </div>
                    <div id="vigencias" class="tab-pane">
                        <div class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a href="#" class="fa fa-caret-down"></a>
                                    <a href="#" class="fa fa-times"></a>
                                </div>
                                <h2 class="panel-title">Filtro de busqueda vigencia</h2>
                            </header>
                            <div class="panel-body" style="display: none;">
                                <div class="form-group">
                                        <label class="col-sm-1 control-label">Matriz:</label>
                                        <div class="col-sm-5">
                                            {{ form_widget(form.vigencia) }}
                                        </div>
                                </div>
                            </div>
                            <footer class="panel-footer" style="display: none;">
                                <div class="row">
                                    <div class="col-sm-9 col-sm-offset-3">
                                        {{ form_widget(form.btnFiltrarVigencia, { 'attr': {'class': 'btn btn-primary', 'style':'float:right'} }) }}
                                    </div>
                                </div>
                            </footer>
                        </div>
                        <br>
                        <table class="table table-condensed table-bordered table-hover mb-none">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Vigencia</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for arVigencia in arVigencias %}
                                <tr>
                                    <td>{{ arVigencia.codigoVigenciaPk }}</td>
                                    <td>{{ arVigencia.vigencia }}</td>
                                    <td style="text-align: center">
                                        <a href="javascript:abrirVentana3('{{ path('norma_vigencia_nuevo', {'id': arVigencia.codigoVigenciaPk, 'codigoNorma': arNorma.codigoNormaPk}) }}', 'NuevoVigencia', 600, 1200)"><i class="fa fa-edit fa-lg"></i></a>
                                    </td>
                                    <td style="text-align: center">
                                        <input type="checkbox" name="ChkSeleccionarVigencias[]" value="{{ arVigencia.codigoVigenciaPk }}"/>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {{ knp_pagination_render(arVigencias) }}
                        <footer class="panel-footer">
                            <div class="row">
                                <div class="col-sm-9 col-sm-offset-3" style="float: right; margin-right: 5px !important;">
                                    <div style="float: right; margin-right: 5px !important;" class="btn-group" role="group" aria-label="...">
                                        <a class="btn btn-sm btn-default"  href="javascript:abrirVentana3('{{ path('norma_vigencia_nuevo', {'id': 0, 'codigoNorma': arNorma.codigoNormaPk}) }}', 'NuevoVigencia', 600, 1200)">Nuevo</a>
                                        {{ form_widget(form.btnEliminarVigencia) }}
                                    </div>
                                </div>
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
