{% extends 'base_admin.html.twig' %}

{% block content %}
    <div class="row">
        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title">Informacion</h2>
                </header>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-1 control-label">Tipo:</label>
                        <div class="col-sm-5">
                            {{ form_widget(form.normaTipoRel) }}
                        </div>
                        <label class="col-sm-1 control-label">Entidad:</label>
                        <div class="col-sm-5">
                            {{ form_widget(form.entidadRel) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">Numero:</label>
                        <div class="col-sm-5">
                            {{ form_widget(form.numero) }}
                        </div>
                        <label class="col-sm-1 control-label">Jurisdiccion:</label>
                        <div class="col-sm-5">
                            {{ form_widget(form.jurisdiccionRel) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">Fecha:</label>
                        <div class="col-sm-5">
                            {{ form_widget(form.fecha) }}
                        </div>
                        <label class="col-sm-1 control-label"></label>
                        <div class="col-sm-5">

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">Descripcion:</label>
                        <div class="col-sm-11">
                            {{ form_widget(form.descripcion, { 'attr': {'style':'height: 325px;'} }) }}
                        </div>
                    </div>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6">
                            <a class="btn btn-default btn-sm" style="float:left" href="{{ path('norma_lista') }}">Cancelar</a>
                        </div>
                        <div class="col-sm-6">
                            {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary', 'style':'float:right'} }) }}
                        </div>
                    </div>
                </footer>
            </section>
        </div>

        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>



{% endblock %}
