{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            <a class="btn btn-default btn-sm" href="{{ path('recursoHumano_empleado_lista') }}">Volver</a>
        </div>
    </div>
    <br><br>
    <table width="100%" class="table table-condensed table-bordered tabla-informacion ">
        <tr>
            <td class="titulo">ID:</td>
            <td class="td-in-well">{{ arEmpleado.codigoEmpleadoPk }}</td>
            <td class="titulo">TIPO IDENTIFICACIÓN:</td>
            <td class="td-in-well">{{ arEmpleado.identificacionRel.nombre }}</td>
            <td class="titulo">IDENTIFICACIÓN:</td>
            <td class="td-in-well">{{ arEmpleado.numeroIdentificacion }}</td>
        </tr>
        <tr>
            <td class="titulo">NOMBRE:</td>
            <td class="td-in-well">{{ arEmpleado.nombreCorto }}</td>
            <td class="titulo">CIUDAD:</td>
            <td class="td-in-well">{{ arEmpleado.ciudadRel.nombre }}</td>
            <td class="titulo">DIRECCIÓN:</td>
            <td class="td-in-well">{{ arEmpleado.direccion }}</td>
        </tr>
        <tr>
            <td class="titulo">TELÉFONO:</td>
            <td class="td-in-well">{{ arEmpleado.telefono }}</td>
            <td class="titulo">CELULAR:</td>
            <td class="td-in-well">{{ arEmpleado.celular }}</td>
            <td class="titulo">CORREO:</td>
            <td class="td-in-well">{{ arEmpleado.correo }}</td>
        </tr>
        <tr>
            <td class="titulo">FECHA NACIMIENTO:</td>
            <td class="td-in-well">{{ arEmpleado.fechaNacimiento | date("Y/m/d") }}</td>
            <td class="titulo">CIUDAD NACIMIENTO:</td>
            <td class="td-in-well">{{ arEmpleado.ciudadNacimientoRel.nombre }}</td>
            <td class="titulo">SEXO:</td>
            <td class="td-in-well">{{ arEmpleado.sexoRel.nombre }}</td>
        </tr>
        <tr>
            <td class="titulo">FECHA DE EXPEDICIÓN:</td>
            <td class="td-in-well">{{ arEmpleado.fechaExpedicionIdentificacion | date("Y/m/d") }}</td>
            <td class="titulo">CIUDAD EXPEDICIÓN:</td>
            <td class="td-in-well">{{ arEmpleado.ciudadExpedicionRel.nombre }}</td>
            <td class="titulo">TIPO DE RH:</td>
            <td class="td-in-well">{{ arEmpleado.rhRel.nombre }}</td>
        </tr>
        <tr>
            <td class="titulo">CARGO</td>
            <td class="td-in-well">{{ arEmpleado.cargoRel.nombre }}</td>
            <td class="titulo">ESTADO CIVIL</td>
            <td class="td-in-well">{{ arEmpleado.estadoCivilRel.nombre }}</td>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
        </tr>
        <tr>
            <td class="titulo">BANCO</td>
            <td class="td-in-well">{{ arEmpleado.bancoRel.nombre }}</td>
            <td class="titulo">NÚMERO DE CUENTA</td>
            <td class="td-in-well">{{ arEmpleado.cuenta }}</td>
            <td class="titulo">TIPO DE CUENTA</td>
            <td class="td-in-well">{{ arEmpleado.codigoCuentaTipoFk }}</td>
        </tr>
    </table>
    <br>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#Contrato" data-toggle="tab"> Contrato</a></li>
    </ul>
    <section class="panel">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered mb-none tabla-datos">
                    <thead>
                    <tr>
                        <td>Id</td>
                        <td>Tipo</td>
                        <td>Numero</td>
                        <td>Grupo</td>
                        <td>Cargo</td>
                        <td title="Clasificacion de riesgo">C. riesgo</td>
                        <td>Desde</td>
                        <td>Hasta</td>
                        <td>Salario</td>
                        <td>Ter</td>
                        <td></td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for arContratos in arContratos %}
                        <tr>
                            <td>{{ arContratos.codigoContratoPk }}</td>
                            <td>{{ arContratos.tipoContrato }}</td>
                            <td>{{ arContratos.numero }}</td>
                            <td>{{ arContratos.grupo }}</td>
                            <td>{{ arContratos.cargo }}</td>
                            <td>{{ arContratos.riesgo }}</td>
                            <td>{{ arContratos.fechaDesde | date("Y/m/d") }}</td>
                            <td>{{ arContratos.fechaHasta | date("Y/m/d") }}</td>
                            <td>{{ arContratos.vrSalario }}</td>
                            <td>{{ arContratos.estadoTerminado? "Terminado" : "Activo" }}</td>
                            <td class="text-center">
                                <a href="javascript:abrirVentana3('{{ path('recursoHumano_empleado_contrato_nuevo', {'id':arContratos.codigoContratoPk, 'codigoEmpleado':  arEmpleado.codigoEmpleadoPk}) }}', 'Editar contrato', 800, 1200)">
                                    <i class="fa fa-edit" style="color: black;font-size: large;"></i>
                                </a>
                            </td>
                            <td class="text-center">
                                <a href="{{ path('recursoHumano_contrato_detalle', {'id':arContratos.codigoContratoPk}) }}"
                                   target="_blank">
                                    <i class="fa fa-share-square-o"
                                       style="font-size: large;color: black;"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div style="display: flex; flex-direction: row; align-items: center">
                <span style="margin-right: 4px">registros: {{ arContratos.getTotalItemCount }}</span>
                {{ knp_pagination_render(arContratos) }}
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-9 col-sm-offset-3 ">
                    <a class="btn btn-sm btn-default pull-right"
                       href="javascript:abrirVentana3('{{ path('recursoHumano_empleado_contrato_nuevo', {'id': 0, 'codigoEmpleado':  arEmpleado.codigoEmpleadoPk}) }}', 'Nuevo contrato', 800, 1200)">Nuevo</a>
                </div>
            </div>
        </div>
    </section>
    {{ form_end(form) }}
{% endblock %}




































