{% extends 'base.html.twig' %}
 {% block content %}
     {{ form_start(form) }}
     <div class="row">
         <div class="col-md-12">
             <section class="panel">
                 <header class="panel-heading">
                     <div class="panel-actions">
                         <a href="#" class="fa fa-caret-down"></a>
                     </div>
                     <h2 class="panel-title">Filtro de busqueda</h2>
                 </header>
                 <div class="panel-body">
                     <div class="form-group">
                         <label class="col-sm-1 control-label">Id:</label>
                         <div class="col-sm-2">
                             {{ form_widget(form.codigoTercero) }}
                         </div>
                         <label class="col-sm-1 control-label">Nombre corto:</label>
                         <div class="col-sm-2">
                             {{ form_widget(form.nombreCorto) }}
                         </div>
                         <label class="col-sm-1 control-label"></label>
                         <div class="col-sm-2">

                         </div>
                         <label class="col-sm-1 control-label">Cliente:</label>
                         <div class="col-sm-2">
                             {{ form_widget(form.cliente) }}
                         </div>
                     </div>
                     <div class="form-group">
                         <label class="col-sm-9 control-label"></label>
                         <label class="col-sm-1 control-label">Proveedor:</label>
                         <div class="col-sm-2">
                             {{ form_widget(form.proveedor) }}
                         </div>
                     </div>
                 </div>
                 <div class="panel-footer">
                     <div class="row">
                         <div class="col-sm-9 col-sm-offset-3">
                             {{ form_widget(form.btnFiltrar, { 'attr': {'class': 'btn btn-primary', 'style':'float:right'} }) }}
                         </div>
                     </div>
                 </div>
             </section>
         </div>
         <div class="col-md-12">
             <section class="panel">
                 <div class="panel-body">
                     <div class="table-responsive">
                         <table class="table table-bordered mb-none tabla-datos">
                             <thead>
                             <tr>
                                 <th>Id</th>
                                 <th>Digito</th>
                                 <th>Identificacion</th>
                                 <th>Nombre corto</th>
                                 <th>Ciudad</th>
                                 <th>Direccion</th>
                                 <th>Telefono</th>
                                 <th>Celular</th>
                                 <th>Email</th>
                                 <th title="Cliente">Cli</th>
                                 <th title="Proveedor">Pro</th>
                                 <th></th>
                                 <th></th>
                                 <th><input type="checkbox" name="ChkSeleccionarTodosDetalle"
                                            OnClick="ChequearTodosTabla(this, 'ChkSeleccionar[]');"/></th>
                             </tr>
                             </thead>
                             <tbody>
                             {% for tercero in arTerceros %}
                                 <tr>
                                     <td>{{ tercero.codigoTerceroPk }}</td>
                                     <td>{{ tercero.digitoVerificacion }}</td>
                                     <td>{{ tercero.numeroIdentificacion }}</td>
                                     <td>{{ tercero.nombreCorto }}</td>
                                     <td>{{ tercero.ciudad }}</td>
                                     <td>{{ tercero.direccion }}</td>
                                     <td>{{ tercero.telefono }}</td>
                                     <td>{{ tercero.celular }}</td>
                                     <td>{{ tercero.email }}</td>
                                     <td>{{ tercero.cliente ? 'SI':'NO' }}</td>
                                     <td>{{ tercero.proveedor ? 'SI':'NO' }}</td>
                                     <td align="center"><a
                                                 href="{{ path('tercero_nuevo', { 'id': tercero.codigoTerceroPk }) }}"
                                                 title="editar informacion"><i class="fa fa-edit fa-lg"></i></a></td>
                                     <td align="center"><a
                                                 href="{{ path('tercero_detalle', { 'id': tercero.codigoTerceroPk }) }}"
                                                 title="mostrar informacion"><i class="fa fa-eye fa-lg"></i></a></td>
                                     <td align="center"><input type="checkbox" name="ChkSeleccionar[]"
                                                               value="{{ tercero.codigoTerceroPk }}"/></td>
                                 </tr>
                             {% endfor %}
                             </tbody>
                         </table>
                         <div style="display: flex; flex-direction: row;">
                             <span style="margin-right: 4px">registros: {{ arTerceros.getTotalItemCount }}</span>
                             {{ knp_pagination_render(arTerceros) }}
                         </div>
                     </div>
                 </div>
                 <div class="panel-footer">
                     <div class="row">
                         <div class="col-sm-9 col-sm-offset-3">
                             <div style="float: right; margin-right: 5px !important;" class="btn-group" role="group"
                                  aria-label="...">
                                 <a class="btn btn-sm btn-default"
                                    href="{{ path('tercero_nuevo',{'id':0}) }}">Nuevo</a>
                                 {{ form_widget(form.btnEliminar) }}
                             </div>
                         </div>
                     </div>
                 </div>
             </section>
         </div>
     </div>
     {{ form_end(form) }}
 {% endblock %}




































