{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    {{ notificar()|raw }}
    <br>
    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>
                    <h2 class="panel-title">Informacion</h2>
                </header>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="row">
                            <label class="col-sm-2 control-label">Tipo Documento:</label>
                            <div class="col-sm-3">
                                {{ form_widget(form.codigoIdentificacionFk) }}
                            </div>
                            <label class="col-sm-2 control-label">Identificacion:</label>
                            <div class="col-sm-3">
                                {{ form_widget(form.numeroIdentificacion) }}
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <label class="col-sm-2 control-label">Primer Nombre:</label>
                            <div class="col-sm-3">
                                {{ form_widget(form.primerNombre) }}
                            </div>
                            <label class="col-sm-2 control-label">Segundo Nombre:</label>
                            <div class="col-sm-3">
                                {{ form_widget(form.segundoNombre) }}
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <label class="col-sm-2 control-label">Primer Apellido:</label>
                            <div class="col-sm-3">
                                {{ form_widget(form.primerApellido) }}
                            </div>
                            <label class="col-sm-2 control-label">Segundo Apellido:</label>
                            <div class="col-sm-3">
                                {{ form_widget(form.segundoApellido) }}
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <label class="col-sm-2 control-label">Nombre corto:</label>
                            <div class="col-sm-3">
                                {{ form_widget(form.nombreCorto) }}
                            </div>
                            <label class="col-sm-2 control-label">Email:</label>
                            <div class="col-sm-3">
                                {{ form_widget(form.email) }}
                            </div>

                        </div>
                        <br>
                        <div class="row">
                            <label class="col-sm-2 control-label">Ciudad:</label>
                            <div class="col-sm-3">
                                {{ form_widget(form.ciudadRel) }}
                            </div>
                            <label class="col-sm-2 control-label">Direccion:</label>
                            <div class="col-sm-3">
                                {{ form_widget(form.direccion) }}
                            </div>

                        </div>
                        <br>
                        <div class="row">
                            <label class="col-sm-2 control-label">Telefono:</label>
                            <div class="col-sm-3">
                                {{ form_widget(form.telefono) }}
                            </div>
                            <label class="col-sm-2 control-label">Celular:</label>
                            <div class="col-sm-3">
                                {{ form_widget(form.celular) }}
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <label class="col-sm-1 control-label"></label>
                            <div class="col-sm-5">
                                {{ form_widget(form.cliente) }}
                                {{ form_widget(form.proveedor) }}
                            </div>
                            <label class="col-sm-1 control-label"></label>
                            <div class="col-sm-5">
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6">
                            <a class="btn btn-default btn-sm" style="float:left"
                               href="{{ path('tercero_lista') }}">Cancelar</a>
                        </div>
                        <div class="col-sm-6">
                            {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary', 'style':'float:right'} }) }}
                        </div>
                    </div>
                </footer>
            </section>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}




































