{% extends 'base.html.twig' %}
 {% block content %}
     {{ form_start(form) }}
     <div class="row">
         <div class="col-md-12">
             <section class="panel">
                 <header class="panel-heading">
                     <div class="panel-actions">
                         <a href="#" class="fa fa-caret-down"></a>
                     </div>
                     <h2 class="panel-title">Filtro de busqueda</h2>
                 </header>
                 <div class="panel-body">
                     <div class="form-group form-group-sm">
                         <label class="col-sm-1 control-label">Empleado:</label>
                         <div class="col-sm-2">
                             {{ form_widget(form.cboEmpleadoRel) }}
                         </div>
                     </div>
                     <div class="form-group form-group-sm">
                         <label class="col-sm-1 control-label">Desde:</label>
                         <div class="col-sm-2">
                             {{ form_widget(form.fechaDesde) }}
                         </div>
                     </div>
                     <div class="form-group form-group-sm">
                         <label class="col-sm-1 control-label">Hasta:</label>
                         <div class="col-sm-2">
                             {{ form_widget(form.fechaHasta) }}
                         </div>
                     </div>
                 </div>
                 <div class="panel-footer">
                     <div class="row">
                         <div class="col-sm-9 col-sm-offset-3">
                             {{ form_widget(form.btnFiltrar, { 'attr': {'class': 'btn btn-primary', 'style':'float:right'} }) }}
                         </div>
                     </div>
                 </div>
             </section>
         </div>
         <div class="col-md-12">
             <section class="panel">
                 <div class="panel-body">
                     <div class="table-responsive">
                         <table class="table table-bordered mb-none tabla-datos">
                             <thead>
                             <tr>
                                 <th>Id</th>
                                 <th>Fecha</th>
                                 <th>Codigo</th>
                                 <th>Concepto</th>
                                 <th>Identificacion</th>
                                 <th>Empleado</th>
                                 <th>Detalle</th>
                                 <th>Valor</th>
                                 <th title="Permanente">Per</th>
                                 <th title="Aplica para nomina">Nom</th>
                                 <th title="Aplica para prima">Pri</th>
                                 <th title="Inactivo">Ina</th>
                                 <th></th>
                                 <th><input type="checkbox" name="ChkSeleccionarTodosDetalle"
                                            OnClick="ChequearTodosTabla(this, 'ChkSeleccionar[]');"/></th>
                             </tr>
                             </thead>
                             <tbody>
                             {% for arAdicional in arAdicionales %}
                                 <tr>
                                     <td>{{ arAdicional.codigoAdicionalPk }}</td>
                                     <td>{{ arAdicional.fecha | date('Y-m-d') }}</td>
                                     <td>{{ arAdicional.codigoConceptoFk }}</td>
                                     <td>{{ arAdicional.concepto }}</td>
                                     <td>{{ arAdicional.identificacionEmpleado }}</td>
                                     <td>{{ arAdicional.empleado }}</td>
                                     <td>{{ arAdicional.detalle }}</td>
                                     <td class="numero">{{ arAdicional.vrValor | number_format }}</td>
                                     <td align="center">{% if arAdicional.permanente == true %}{{ 'SI' }}{% else %}{{ 'NO' }}{% endif %}</td>
                                     <td align="center">{% if arAdicional.aplicaPrima == true %}{{ 'SI' }}{% else %}{{ 'NO' }}{% endif %}</td>
                                     <td align="center">{% if arAdicional.estadoInactivo == true %}{{ 'SI' }}{% else %}{{ 'NO' }}{% endif %}</td>
                                     <td align="center">
                                         <a href="{{  path('recursoHumano_adicional_nuevo', { 'id': arAdicional.codigoAdicionalPk }) }}"
                                            title="editar informacion"><i class="fa fa-edit fa-lg"></i></a></td>
                                     <td align="center">
                                         <a href="{{  path('recursoHumano_adicional_detalle', { 'id': arAdicional.codigoAdicionalPk }) }}"
                                            title="mostrar informacion"><i class="fa fa-eye fa-lg"></i></a></td>
                                     <td class="text-center">
                                         <input type="checkbox" name="ChkSeleccionar[]"
                                                value="{{ arAdicional.codigoAdicionalPk }}"/></td>
                                 </tr>
                             {% endfor %}
                             </tbody>
                         </table>
                         <div style="display: flex; flex-direction: row;">
                             <span style="margin-right: 4px">registros: {{ arAdicionales.getTotalItemCount }}</span>
                             {{ knp_pagination_render(arAdicionales) }}
                         </div>
                     </div>
                 </div>
                 <div class="panel-footer">
                     <div class="row">
                         <div class="col-sm-9 col-sm-offset-3">
                             <div style="float: right; margin-right: 5px !important;" class="btn-group" role="group"
                                  aria-label="...">
                                 <a class="btn btn-sm btn-default"
                                    href="{{  path('recursoHumano_adicional_nuevo',{'id':0}) }}">Nuevo</a>
                                 {{ form_widget(form.btnEliminar) }}
                             </div>

                         </div>
                     </div>
                 </div>
             </section>
         </div>
     </div>
     {{ form_end(form) }}
 {% endblock %}