{% extends 'base_admin.html.twig' %}
{% block content %}
    <div class="row">
        {{ form_start(form, {'attr': {'class':'form-horizontal'}}) }}
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>
                    <h2 class="panel-title">Filtro de busqueda</h2>
                </header>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-1 control-label">Clave:</label>
                        <div class="col-sm-2">
                            {{ form_widget(form.clave) }}
                        </div>
                        <label class="col-sm-1 control-label">Nombre:</label>
                        <div class="col-sm-2">
                            {{ form_widget(form.nombre) }}
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            {{ form_widget(form.btnFiltrar, { 'attr': {'class': 'btn btn-primary', 'style':'float:right'} }) }}
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed table-bordered table-hover mb-none">
                            <th class="text-center">Id</th>
                            <th class="text-center">Nombre</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <tbody>
                            {% for arGrupo in arGrupos%}
                                <tr>
                                    <td>{{ arGrupo.codigoGrupoPk }}</td>
                                    <td>{{ arGrupo.nombre }}</td>
                                    <td class="text-center">
                                        <a href="{{ path('grupo_nuevo', { 'id': arGrupo.codigoGrupoPk }) }}" title="editar nombre del grupo">
                                            <i class="fa fa-edit fa-lg"></i>
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        <a href="{{ path('grupo_detalle', { 'id': arGrupo.codigoGrupoPk }) }}" title="mostrar información">
                                            <i class="fa fa-eye fa-lg"></i>
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" name="ChkSeleccionar[]" value="{{ arGrupo.codigoGrupoPk }}"/>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                        <div style="display: flex; flex-direction: row; align-items: center">
                            <span style="margin-right: 4px">registros: {{ arGrupos.getTotalItemCount }}</span>
                            {{ knp_pagination_render(arGrupos) }}
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3" >
                            <div style="float: right; margin-right: 5px !important;" class="btn-group" role="group" aria-label="...">
                                <a class="btn btn-sm btn-default" href="{{ path('grupo_nuevo', {'id': 0}) }}">Nuevo</a>
                                {{ form_widget(form.btnEliminar) }}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}