{% extends 'base_sin_menu.html.twig' %}
{% block content %}

    <h1 align="center">FRIENDSHIP</h1>
      {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <table class="table table-striped table-bordered table-hover tabla-datos">
        <thead>
        <tr>
            <th>CÓDIGO</th>
            <th>PLAZO</th>
            <th>TIPO</th>
            <th>NUMERO</th>
            <th>FECHA</th>
            <th>VENCE</th>
            <th style="text-align: right">VALOR</th>
            <th style="text-align: center">SALDO</th>
            <th><input type="checkbox" name="ChkSeleccionarTodos"
                       OnClick="ChequearTodosTabla(this, 'ChkSeleccionar[]');"/></th>
        </tr>
        </thead>
        <tbody>
        {% for arCuentaCobrar in arCuentasCobrar %}
        <tr>
            <td>{{ arCuentaCobrar.codigoCuentaCobrarPk }}</td>
            <td>{{ arCuentaCobrar.plazo }}</td>
            <td>{{ arCuentaCobrar.nombre }}</td>
            <td>{{ arCuentaCobrar.numeroDocumento }}</td>
            <td>{{ arCuentaCobrar.fecha | date('Y-m-d') }}</td>
            <td>{{ arCuentaCobrar.fechaVence | date('Y-m-d') }}</td>
            <td style="text-align: right">{{ arCuentaCobrar.vrTotalBruto | number_format(2, '.', ',') }}</td>
{#            <td style="text-align: right"><input width="60px" style="text-align: right" type="text"#}
{#                                                 name="TxtSaldo{{ arCuentaCobrar.codigoCuentaCobrarPk }}"#}
{#                                                 value="{{ arCuentaCobrar.vrSaldo }}"#}
{#                                                 style="text-align: right; width:90px"#}
{#                                                 size="8"/>#}
{#            </td>#}
            <td style="text-align: center"><input type="checkbox" name="ChkSeleccionar[]"
                                                  value="{{ arCuentaCobrar.codigoCuentaCobrarPk }}"/></td>
            {%endfor%}
        </tr>
        </tbody>
    </table>
    <div class="btn-group" style="float: left">
        <div class="btn btn-default btn-sm">Registros <span class="badge">{{ arCuentasCobrar.getTotalItemCount }}</span>
        </div>
    </div>
    <div class="btn-group btn-sm" style="float: left;margin-left: 0px;padding-top: 0px;">
        {{ knp_pagination_render(arCuentasCobrar) }}
    </div>
    <div class="modal-footer">
        {{ form_widget(form.btnGuardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div>
    {{ form_end(form) }}
{% endblock %}




































