{% extends 'base_sin_menu.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <br>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4> Filtros de búsqueda</h4>
            </div>
            <div class="panel-body">
                <div class="form-group form-group-sm">
{#                    <label class="col-sm-2 control-label">Codigo:</label>#}
{#                    <div class="col-sm-4">#}
{#                        #}{#                        {{ form_widget(form.txtCodigoItem) }}#}
{#                    </div>#}
{#                    <label class="col-sm-2 control-label">Nombre:</label>#}
{#                    <div class="col-sm-4">#}
{#                        #}{#                        {{ form_widget(form.txtDescripcion) }}#}
{#                    </div>#}
                </div>
            </div>
            <div class="panel-footer">
                {#                {{ form_widget(form.btnFiltrar,{'attr':{'style':'float: right;'}}) }}#}
                <br/>
                <br/>
            </div>
        </div>
    </div>
    <div>
        <div class="col-md-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered mb-none tabla-datos">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Plazo</th>
                                <th>Tipo</th>
                                <th>Numero</th>
                                <th>Fecha</th>
                                <th>Vence</th>
                                <th>Valor</th>
                                <th>Saldo</th>
                                <th><input type="checkbox" name="ChkSeleccionarTodos"
                                           OnClick="ChequearTodosTabla(this, 'ChkSeleccionar[]');"/></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for arCuentaCobrar in arCuentasCobrar %}
                            <tr>
                                <td>{{ arCuentaCobrar.codigoCuentaCobrarPk }}</td>
                                <td>{{ arCuentaCobrar.plazo }}</td>
                                <td>{{ arCuentaCobrar.nombre }}</td>
                                <td>{{ arCuentaCobrar.numeroDocumento }}</td>
                                <td>{{ arCuentaCobrar.fecha | date('Y-m-d') }}</td>
                                <td>{{ arCuentaCobrar.fechaVence | date('Y-m-d') }}</td>
                                <td style="text-align: right">{{ arCuentaCobrar.vrTotalBruto | number_format }}</td>
                                <td style="text-align: right">{{ arCuentaCobrar.vrSaldo | number_format }}</td>
                                <td style="text-align: center"><input type="checkbox" name="ChkSeleccionar[]"
                                                                      value="{{ arCuentaCobrar.codigoCuentaCobrarPk }}"/>
                                </td>
                                {% endfor %}
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="btn-group" style="float: left">
                        <div class="btn btn-default btn-sm">Registros <span
                                    class="badge">{{ arCuentasCobrar.getTotalItemCount }}</span>
                        </div>
                    </div>
                    <div class="btn-group btn-sm" style="float: left;margin-left: 0px;padding-top: 0px;">
                        {{ knp_pagination_render(arCuentasCobrar) }}
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            {{ form_widget(form.btnGuardar,{'attr':{'style':'float: right;'}}) }}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}




































