{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                    </div>
                    <h2 class="panel-title">Filtro de busqueda</h2>
                </header>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="form-group form-group-sm">
                            <label class="col-sm-1 control-label">Txt:</label>
                            <div class="col-sm-2">
                                {{ form_widget(form.txt) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group form-group-sm">
                            <label class="col-sm-1 control-label">Desde:</label>
                            <div class="col-sm-2">
                                {{ form_widget(form.fechaDesde) }}
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <label class="col-sm-1 control-label">Hasta:</label>
                            <div class="col-sm-2">
                                {{ form_widget(form.fechaHasta) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            {{ form_widget(form.btnFiltrar, { 'attr': {'class': 'btn btn-primary', 'style':'float:right'} }) }}
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <br/>
        <div class="col-md-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered mb-none tabla-datos">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Numero</th>
                                <th>Tipo</th>
                                <th>Fecha</th>
                                <th>Fecha Pago</th>
                                <th>Identificacion</th>
                                <th>Tercero</th>
                                <th>Cuenta</th>
                                <th>Pago</th>
                                <th>Total</th>
                                <th title="Usuario">Usu</th>
                                <th title="Autorizado">Aut</th>
                                <th title="Aprobado">Apr</th>
                                <th title="Anulado">Anu</th>
                                <th></th>
                                <th></th>
                                <th><input type="checkbox" name="ChkSeleccionarTodosDetalle"
                                           OnClick="ChequearTodosTabla(this, 'ChkSeleccionar[]');"/></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for arRecibo  in arRecibos %}
                                <tr>
                                    <td>{{ arRecibo.codigoReciboPk }}</td>
                                    <td>{{ arRecibo.numero }}</td>
                                    <td>{{ arRecibo.tipo }}</td>
                                    <td>{{ arRecibo.fecha | date('Y-m-d') }}</td>
                                    <td>{{ arRecibo.fechaPago | date('Y-m-d') }}</td>
                                    <td>{{ arRecibo.identificacion }}</td>
                                    <td>{{ arRecibo.nombre }}</td>
                                    <td>{{ arRecibo.cuenta }}</td>
                                    <td class="numero">{{ arRecibo.vrPago }}</td>
                                    <td class="numero">{{ arRecibo.vrPagoTotal }}</td>
                                    <td>{{ arRecibo.usuario }}</td>
                                    <td>{{ arRecibo.estadoAutorizado }}</td>
                                    <td>{{ arRecibo.estadoAprobado }}</td>
                                    <td>{{ arRecibo.estadoAnulado }}</td>
                                    <td align="center"><a
                                                href="{{ path('recibo_nuevo', {'id': arRecibo.codigoReciboPk}) }}"
                                                title="editar informacion"><i class="fa fa-edit fa-lg"></i></a></td>
                                    <td align="center"><a
                                                href="{{ path('recibo_detalle', {'id': arRecibo.codigoReciboPk}) }}"
                                                title="mostrar informacion"><i class="fa fa-eye fa-lg"></i></a></td>
                                    <td align="center"><input type="checkbox" name="ChkSeleccionar[]"
                                                              value="{{ arRecibo.codigoReciboPk }}"/></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div style="display: flex; flex-direction: row;">
                        <span style="margin-right: 4px">registros: {{ arRecibos.getTotalItemCount }}</span>
                        {{ knp_pagination_render(arRecibos) }}
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            <div style="float: right; margin-right: 5px !important;" class="btn-group" role="group"
                                 aria-label="...">
                                <a class="btn btn-sm btn-default"
                                   href="{{ path('recibo_nuevo',{'id':0})}}">Nuevo</a>
                                {{ form_widget(form.btnEliminar) }}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}




































