{% extends 'base.html.twig' %}
 {% block content %}
     {{ form_start(form) }}
     <div class="row">
         <div class="col-md-12">
             <section class="panel">
                 <header class="panel-heading">
                     <div class="panel-actions">
                         <a href="#" class="fa fa-caret-down"></a>
                     </div>
                     <h2 class="panel-title">Filtro de busqueda</h2>
                 </header>
                 <div class="panel-body">
                     <div class="form-group">
                         <label class="col-sm-1 control-label">Id:</label>
                         <div class="col-sm-2">
                              {{ form_widget(form.codigoContato) }}
                         </div>
                         <label class="col-sm-1 control-label">Núm identificación:</label>
                         <div class="col-sm-2">
                             {{ form_widget(form.numeroIdentificacion) }}
                         </div>
                         <label class="col-sm-1 control-label">Nombre corto:</label>
                         <div class="col-sm-2">
                             {{  form_widget(form.nombreCorto) }}
                         </div>
                     </div>
                     <div class="form-group">
                         <label class="col-sm-1 control-label">Grupo:</label>
                         <div class="col-sm-2">
                             {{ form_widget(form.Grupo) }}
                         </div>
                         <label class="col-sm-1 control-label">Estado:</label>
                         <div class="col-sm-2">
                             {{ form_widget(form.estado) }}
                         </div>

                     </div>
                 </div>
                 <div class="panel-footer">
                     <div class="row">
                         <div class="col-sm-9 col-sm-offset-3">
                              {{  form_widget(form.btnFiltrar, { 'attr': {'class': 'btn btn-primary', 'style':'float:right'} }) }}
                         </div>
                     </div>
                 </div>
             </section>
         </div>
         <div class="col-md-12">
             <section class="panel">
                 <div class="panel-body">
                     <div class="table-responsive">
                         <table class="table table-bordered mb-none tabla-datos">
                             <thead>
                             <tr>
                                 <th>Id</th>
                                 <th>tipo Contrato</th>
                                 <th>numero Identificacion</th>
                                 <th>nombre</th>
                                 <th>grupo</th>
                                 <th>tiempo</th>
                                 <th>valor salario</th>
                                 <th>terminado</th>
                                 <th>fecha desde</th>
                                 <th>fecha hasta</th>
                                 <th></th><th></th>
                             </tr>
                             </thead>
                             <tbody>
                             {% for arRhuContrato in arRhuContratos %}
                                 <tr>
                                     <td>{{ arRhuContrato.codigoContratoPk }}</td>
                                     <td>{{ arRhuContrato.tipoContrato }}</td>
                                     <td>{{ arRhuContrato.numeroIdentificacion }}</td>
                                     <td><a href="">{{  arRhuContrato.nombreCorto }}</a></td>
                                     <td>{{  arRhuContrato.grupo }}</td>
                                     <td>{{  arRhuContrato.tiempo }}</td>
                                     <td>{{ arRhuContrato.vrSalario }}</td>
                                     <td>{{  arRhuContrato.estadoTerminado ? "si":"no" }}</td>
                                     <td>{{  arRhuContrato.fechaDesde | date('Y-m-d')}}</td>
                                     <td>{{  arRhuContrato.fechaHasta | date('Y-m-d') }}</td>
                                     <td align="center">
                                         <a href="javascript:abrirVentana3('{{ path('recursoHumano_empleado_contrato_nuevo', {'id':arRhuContrato.codigoContratoPk, 'codigoEmpleado':  arRhuContrato.codigoEmpleadoFk}) }}', 'Editar contrato', 800, 1200)">
                                             <i class="fa fa-edit fa-lg" ></i>
                                         </a>
                                     <td align="center">
                                         <a href="{{   path('recursoHumano_contrato_detalle', { 'id': arRhuContrato.codigoContratoPk }) }}"
                                                 title="mostrar informacion"><i class="fa fa-eye fa-lg"></i></a></td>
                                 </tr>
                             {% endfor %}
                             </tbody>
                         </table>
                         <div style="display: flex; flex-direction: row;">
                             <span style="margin-right: 4px">registros: {{ arRhuContratos.getTotalItemCount }}</span>
                             {{ knp_pagination_render(arRhuContratos) }}
                         </div>
                     </div>
                 </div>
                 <div class="panel-footer">
                     <div class="row">
                         <div class="col-sm-9 col-sm-offset-3">
                             <div style="float: right; margin-right: 5px !important;" class="btn-group" role="group"
                                  aria-label="...">
                                 {{ form_widget(form.btnEliminar) }}
                             </div>

                         </div>
                     </div>
                 </div>
             </section>
         </div>
     </div>
     {{ form_end(form) }}
 {% endblock %}




































