{% extends 'base.html.twig' %}

{% block bodyAtt %}class="fixed-left"{% endblock %}

{% block body %}

        {{ include('bloquesGenerales/menuEncabezado.html.twig') }}

        {{ include('bloquesGenerales/menuIzquierdo.html.twig') }}
                    {% block content %}
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="page-title-box">
                                    <h4 class="page-title"><i class="mdi mdi-phone-incoming"></i> Crear Categoria</h4>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box">
                                    <h4 class="m-t-0 header-title"><b>Datos de la categoria</b></h4>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-12">
                                            {{ form_start(form, { 'attr': {'id':'form','class': 'form-horizontal','data-parsley-validate':'true'} }) }}
                                            <div class="form-group">
                                                <label class="col-md-2 control-label" for="_telefono">Nombre: </label>
                                                <div class="col-md-5">
                                                    {{ form_widget(form.nombre) }}
                                                </div>
                                                <label class="col-md-2 control-label" for="_telefono">  Descripción:</label>
                                                <div class="col-md-3">
                                                    {{ form_widget(form.descripcion) }}
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    {{ form_widget(form.btnGuardar, { 'attr': {'class': 'btn btn-success btn-bordered waves-effect w-md waves-light m-b-5','style':'float:right;margin-left:5px;'} }) }}
                                                    <a href="{{ path('listaCategoria') }}" class="btn btn-default btn-bordered waves-effect w-md m-b-5" style="float: right;">CANCELAR</a>
                                                </div>
                                            </div>
                                            {{ form_rest(form) }}
                                            {{ form_end(form) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endblock content %}

        {{ include('bloquesGenerales/pie.html.twig') }}
{% endblock %}
