{% extends 'base.html.twig' %}

{% block bodyAtt %}class="fixed-left"{% endblock %}

{% block body %}

    <div id="wrapper">
        {{ include('bloquesGenerales/menuEncabezado.html.twig') }}

        {{ include('bloquesGenerales/menuIzquierdo.html.twig') }}
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="container">
                    {% block content %}
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="page-title-box">
                                    
                                    <a href="{{ path('registrarUsuario') }}">
                                        <button class="btn btn-success btn-bordered waves-effect waves-light" style="float: right;"><span class="mdi mdi-plus"></span> Nuevo</button>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            {#<div class="col-md-2">#}
                                {#<div class="card-box">#}
                                    {#<h4 class="header-title m-t-0 m-b-30"><i class="mdi mdi-account-multiple"></i> Contactos</h4>#}
                                    {#<div class="form-group">#}
                                        {#<label class="control-label text-muted">Buscar Cliente | Contacto</label>#}
                                        {#<p class="text-muted m-b-15 font-13">#}
                                            {#Escriba el nombre del contacto. (Se agrupará por Cliente).#}
                                        {#</p>#}
                                        {#<input type="text" name="country" id="autocomplete" class="form-control" autocomplete="on">#}
                                    {#</div>#}
                                    {#<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 250px;">#}
                                        {#<div class="inbox-widget slimscroll-alt" style="min-height: 302px; overflow: hidden; width: auto; height: 250px;">#}
                                            {#<div class="inbox-item">#}
                                                {#<div class="inbox-item-img"><img src="{{ asset('assets/images/users/avatar-1.jpg') }}" class="img-circle" alt=""></div>#}
                                                {#<p class="inbox-item-author">Juan Jose Berrio</p>#}
                                                {#<p class="inbox-item-text"><span class="label label-info">Segurcol</span></p>#}
                                            {#</div>#}
                                            {#<div class="inbox-item">#}
                                                {#<div class="inbox-item-img"><img src="{{ asset('assets/images/users/avatar-2.jpg') }}" class="img-circle" alt=""></div>#}
                                                {#<p class="inbox-item-author">Alejandro Vera Carrasquilla</p>#}
                                                {#<p class="inbox-item-text"><span class="label label-info">Segurcol</span></p>#}
                                            {#</div>#}
                                            {#<div class="inbox-item">#}
                                                {#<div class="inbox-item-img"><img src="{{ asset('assets/images/users/avatar-3.jpg') }}" class="img-circle" alt=""></div>#}
                                                {#<p class="inbox-item-author">Estaban Padilla</p>#}
                                                {#<p class="inbox-item-text"><span class="label label-info">Atlas</span></p>#}
                                            {#</div>#}
                                        {#</div>#}
                                        {#<div class="slimScrollBar" style="background: rgb(152, 166, 173); width: 5px; position: absolute; top: 131px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 170.794px;">#}

                                        {#</div>#}
                                        {#<div class="slimScrollRail" style="width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;">#}

                                        {#</div>#}
                                    {#</div>#}

                                {#</div> <!-- end card -->#}
                            {#</div>#}
                            {#<!-- end col -->#}

                            <div class="col-md-12">
                                <div class="card-box">
                                    <h4 class="header-title m-t-0 m-b-30"> Listado de usuarios</h4>

                                    <div class="table-responsive">
                                        <table class="table table table-hover m-0">
                                            <thead>
                                            <tr>
                                                <th>Nombre Usuario</th>
                                                <th>Nombres</th>
                                                <th>Apellidos</th>
                                                <th>Correo</th>
                                                
                                            </tr>
                                            </thead>
                                            <tbody>
                                            
                                            {% for usuario in usuarios %}

                                                <tr>
                                                    
                                                    <td>
                                                        {{ usuario.codigoUsuarioPk }}
                                                    </td>
                                                   
                                                    <td>
                                                        {{ usuario.nombres }}
                                                    </td>
                                                    <td>{{ usuario.apellidos }}</td>
                                                    <td>{{ usuario.correo }}</td>
                                                    
                                                    
                                                    <td>

                                                    
                                                </tr>
                                            {% endfor %}
                                 
                                            </tbody>
                                        </table>

                                    </div> <!-- table-responsive -->
                                </div> <!-- end card -->
                            </div>
                            <!-- end col -->

                        </div>

                    {% endblock content %}
                </div> <!-- container -->
            </div> <!-- content -->
        </div>
        {{ include('bloquesGenerales/pie.html.twig') }}
    </div>
{% endblock %}