{% extends 'base.html.twig' %}
{% block body %}
        {{ include('bloquesGenerales/menuEncabezado.html.twig') }}
        {{ include('bloquesGenerales/menuIzquierdo.html.twig') }}
                    {% block content %}
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="page-title-box">
                                    <h4 class="page-title" style="padding-right: 10px;"><i
                                                class="glyphicon glyphicon-th-list"></i> Solicitudes </h4>
                                    <span class="label label-danger">Sin atender: {{ sinAtender }}</span>
                                    <span class="label label-danger">Sin cerrar: {{ sinCerrar }}</span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-6"></div>
                            <div class="col-6 col-md-6">
                                {{ form_start(formFiltro) }}
                                {{ form_widget(formFiltro.estado) }}
                                <div class="col-12 col-md-12" id="submit-filtro"
                                     style="text-align: right;padding: 10px;">
                                    {{ form_widget(formFiltro.BtnFiltrar) }}
                                </div>
                                {{ form_end(formFiltro) }}

                            </div>
                        </div>
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-box">
                                    <div class="table-responsive">
                                        <table id="tarea-table" class="table table table-hover m-0">
                                            <thead>
                                            <tr>
                                                <th>Código</th>
                                                <th>Cliente</th>
                                                <th>Contacto</th>
                                                <th>Nombre</th>
                                                <th>Tipo</th>
                                                <th>Fecha solicitud</th>
                                                <th>Horas</th>
                                                <th>Fecha atendido</th>
                                                <th>Descripción</th>
                                                <th>Respuesta</th>
                                                <th title="Aprobado">Ap</th>
                                                <th title="Atender">At</th>
                                                <th title="Cerrar">Ce</th>
                                                <th title="Comentarios">Com</th>
                                                <th title="Ver comentarios">Vcom</th>
                                                <th title="Modificar">Mod</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for arSolicitud in arSolicitudes %}
                                                <tr>
                                                    <td>{{ arSolicitud.codigoSolicitudPk }}</td>
                                                    <td>
                                                        <strong>{{ arSolicitud.clienteRel.nombreComercial }}</strong>
                                                    </td>
                                                    <td>{{ arSolicitud.contacto }}</td>
                                                    <td>{{ arSolicitud.nombre }}</td>
                                                    <td>
                                                        <span class="label label-default">{{ arSolicitud.solicitudTipoRel.nombre }}</span>
                                                    </td>
                                                    <td>{% if arSolicitud.fechaSolicitud != null %}
                                                            {{ arSolicitud.fechaSolicitud|date('y-m-d') }}
                                                        {% endif %}
                                                    </td>
                                                    <td>{{ arSolicitud.horas|date('H:m') }}</td>
                                                    <td>
                                                        {% if arSolicitud.fechaAtencion != null %}
                                                            {{ arSolicitud.fechaAtencion|date('y-m-d') }}
                                                        {% endif %}
                                                    </td>
                                                    <td>{{ arSolicitud.descripcion }}</td>
                                                    <td>{{ arSolicitud.solucion }}</td>
                                                    <td>{% if arSolicitud.estadoAprobado == 1 %}<span
                                                                class="label label-success">SI</span>{% elseif arSolicitud.estadoAprobado == 0 %}
                                                            <span class="label label-danger">NO</span>{% endif %}</td>
                                                    <td>
                                                        {% if arSolicitud.estadoAtendido == false %}
                                                            <button class="btn btn-danger btn-xs" type="submit"
                                                                    name="arSolicitudAtender"
                                                                    value="{{ arSolicitud.codigoSolicitudPk }}">
                                                                <i class="glyphicon glyphicon-thumbs-down"></i>
                                                            </button>
                                                        {% else %}
                                                            <button class="btn btn-success btn-xs" type="submit"
                                                                    name="arSolicitudAtender" disabled>
                                                                <i class="glyphicon glyphicon-thumbs-up"></i>
                                                            </button>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {% if arSolicitud.estadoCerrado == false %}
                                                            <a href="javascript:abrirVentana('{{ path('cerrarSolicitud', { 'codigoSolicitud':  arSolicitud.codigoSolicitudPk }) }}','Cerrar',800, 1200)"
                                                               class="btn btn-default waves-effect waves-light btn-xs"><i
                                                                        class="glyphicon glyphicon-flag"
                                                                        style="padding: 3px;"></i>
                                                            </a>
                                                        {% else %}
                                                            <button class="btn btn-success btn-xs" type="submit"
                                                                    name="arSolicitudCerrar" disabled>
                                                                <i class="glyphicon glyphicon-thumbs-up"></i>
                                                            </button>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        <a href="javascript:abrirVentana('{{ path('registrarComentario', { 'codigoTarea':  0, 'codigoSolicitud': arSolicitud.codigoSolicitudPk }) }}','Agregar comentario',600, 900)"
                                                           class="btn btn-purple waves-effect waves-light btn-xs"><i
                                                                    class="glyphicon glyphicon-pushpin"
                                                                    style="padding: 3px;"></i>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="javascript:abrirVentana('{{ path('verComentariosSolicitud', { 'codigoSolicitud':   arSolicitud.codigoSolicitudPk}) }}','Ver comentarios',600, 900)"
                                                           class="btn btn-purple waves-effect waves-light btn-xs"><i
                                                                    class="glyphicon glyphicon-eye-open"
                                                                    style="padding: 3px;"></i></a>
                                                    </td>
                                                    <td>
                                                        <a href="javascript:abrirVentana('{{ path('modificarSolicitud', { 'codigoSolicitud':  arSolicitud.codigoSolicitudPk }) }}','Modificar',600, 900)"
                                                           class="btn btn-purple waves-effect waves-light btn-xs"><i
                                                                    class="glyphicon glyphicon-pencil"
                                                                    style="padding: 3px;"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    {% endblock content %}
                    <div class="btn-group" style="float: left">
                        <div class="btn btn-default ">Registros <span
                                    class="badge">{{ arSolicitudes.getTotalItemCount }}</span></div>
                        <div class="btn-group"
                             style="float: left;margin: 0px;padding-top: 0px">{{ knp_pagination_render(arSolicitudes) }}</div>
                    </div>
        {{ include('bloquesGenerales/pie.html.twig') }}
{% endblock %}
