{% extends 'base.html.twig' %}
 {% block content %}
     {{ form_start(form) }}
     <div class="row">
         <div class="col-md-12">
             <section class="panel">
                 <header class="panel-heading">
                     <div class="panel-actions">
                         <a href="#" class="fa fa-caret-down"></a>
                     </div>
                     <h2 class="panel-title">Filtro de busqueda</h2>
                 </header>
                 <div class="panel-body">
                     <div class="form-group form-group-sm">
                         <label class="col-sm-1 control-label">Emplado:</label>
                         <div class="col-sm-2">
                             {{ form_widget(form.EmpleadoRel) }}
                         </div>
                         {#                         <label class="col-sm-1 control-label">Tiṕo:</label>#}
                         {#                         <div class="col-sm-2">#}
                         {#                             {{ form_widget(form.TipoRel) }}#}
                         {#                         </div>#}
                     </div>
                     <div class="form-group form-group-sm">
                         <label class="col-sm-1 control-label">Id:</label>
                         <div class="col-sm-2">
                             {{ form_widget(form.codigo) }}
                         </div>
                         <label class="col-sm-1 control-label"></label>
                         <div class="col-sm-2">
                         </div>
                         <label class="col-sm-1 control-label">Autorizado</label>
                         <div class="col-sm-5">
                             {{ form_widget(form.estadoAutorizado) }}
                         </div>
                     </div>
                     <div class="form-group form-group-sm">
                         <label class="col-sm-1 control-label">Desde:</label>
                         <div class="col-sm-5">
                             {{ form_widget(form.fechaDesde) }}
                         </div>
                         <label class="col-sm-1 control-label">Aprobado:</label>
                         <div class="col-sm-5">
                             {{ form_widget(form.estadoAprobado) }}
                         </div>
                     </div>
                     <div class="form-group form-group-sm">
                         <label class="col-sm-1 control-label">Hasta:</label>
                         <div class="col-sm-5">
                             {{ form_widget(form.fechaHasta) }}
                         </div>
                         <label class="col-sm-1 control-label">Anulado:</label>
                         <div class="col-sm-5">
                             {{ form_widget(form.estadoAnulado) }}
                         </div>
                     </div>
                 </div>
                 <div class="panel-footer">
                     <div class="row">
                         <div class="col-sm-9 col-sm-offset-3">
                             {{ form_widget(form.btnFiltrar, { 'attr': {'class': 'btn btn-primary', 'style':'float:right'} }) }}
                         </div>
                     </div>
                 </div>
             </section>
         </div>
         <div class="col-md-12">
             <section class="panel">
                 <div class="panel-body">
                     <div class="table-responsive">
                         <table class="table table-bordered mb-none tabla-datos">
                             <thead>
                             <tr>
                                 <th>Id</th>
                                 <th>Número</th>
                                 <th>Fecha</th>
                                 <th>Empleado</th>
                                 <th>Grupo</th>
                                 <th>Fecha desde</th>
                                 <th>Fecha hasta</th>
                                 <th title="Estado autorizado">AUT</th>
                                 <th title="Estado aprobado">APR</th>
                                 <th title="Estado anualdo">ANU</th>
                                 <th></th>
                             </tr>
                             </thead>
                             <tbody>
                             {% for arLiquidacion in arLiquidaciones %}
                                 <tr>
                                     <td>{{ arLiquidacion.codigoLiquidacionPk }}</td>
                                     <td>{{ arLiquidacion.numero }}</td>
                                     <td>{{ arLiquidacion.fecha | date('Y/m/d') }}</td>
                                     <td>{{ arLiquidacion.codigoEmpleadoFk }}</td>
                                     <td>{{ arLiquidacion.codigoGrupoFk }}</td>
                                     <td>{{ arLiquidacion.fechaDesde | date('Y/m/d') }}</td>
                                     <td>{{ arLiquidacion.fechaHasta | date('Y/m/d') }}</td>
                                     <td>{{ arLiquidacion.estadoAutorizado ? "si":"no" }}</td>
                                     <td>{{ arLiquidacion.estadoAprobado ? "si":"no" }}</td>
                                     <td>{{ arLiquidacion.estadoAnulado ? "si":"no" }}</td>
                                     <td align="center">
                                         <a href="{{  path('recursoHumano_liquidacion_detalle', { 'id': arLiquidacion.codigoLiquidacionPk }) }}"
                                            title="mostrar informacion"><i class="fa fa-eye fa-lg"></i></a></td>
                                 </tr>
                             {% endfor %}
                             </tbody>
                         </table>
                         <div style="display: flex; flex-direction: row;">
                             <span style="margin-right: 4px">registros: {{ arLiquidaciones.getTotalItemCount }}</span>
                             {{ knp_pagination_render(arLiquidaciones) }}
                         </div>
                     </div>
                 </div>
             </section>
         </div>
     </div>
     {{ form_end(form) }}
 {% endblock %}