{% extends 'base.html.twig' %}

{% block bodyAtt %}class="fixed-left"{% endblock %}

{% block body %}

        {{ include('bloquesGenerales/menuEncabezado.html.twig') }}

        {{ include('bloquesGenerales/menuIzquierdo.html.twig') }}
                    {% block content %}
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="page-title-box">
                                    <h4 class="page-title" style="padding-right: 10px;"><i
                                                class="mdi mdi-phone-in-talk"></i> Errores </h4>
                                </div>
                            </div>
                        </div>
                        {#<div class="row">#}
                        {#<div class="col-md-12">#}
                        {#<div class="card-box">#}
                        {#<h4 class="header-title m-t-0 m-b-30"><i class="mdi mdi-phone-in-talk"></i> Listado#}
                        {#de Errores</h4>#}
                        {#<div class="table-responsive">#}
                        {#<div class="card-box">#}
                        {#<div class="row">#}
                        {#<div class="col-sm-4">#}
                        {#{{ form_widget(form.cliente) }}#}
                        {#</div>#}
                        {#<div class="col-md-11" style="text-align: right;padding: 10px;">#}
                        {#{{ form_widget(form.btnFiltrar) }}#}
                        {#</div>#}
                        {#</div>#}
                        {#</div>#}
                        {#<table id="casos-general" class="table table-hover m-0 table-oro ">#}
                        {#<thead>#}
                        {#<tr>#}
                        {#<th>Id</th>#}
                        {#<th>Cliente</th>#}
                        {#<th>Mensaje</th>#}
                        {#<th>Fecha</th>#}
                        {#</tr>#}
                        {#</thead>#}
                        {#<tbody>#}
                        {#{% for error in errores %}#}
                        {#<tr>#}
                        {#<td>{{ error.id }}</td>#}
                        {#<td>{{ error.cliente }}</td>#}
                        {#<td>{{ error.mensaje }}</td>#}
                        {#<td>{{ error.fecha|date }}</td>#}
                        {#</tr>#}
                        {#{% endfor %}#}

                        {#</tbody>#}
                        {#</table>#}
                        {#</div> <!-- end card -->#}
                        {#</div>#}
                        {#</div>#}
                        {#<!-- end col -->#}
                        {#</div>#}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-box">
                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-2">
                                            {{ form_widget(form.estadoAtendido) }}
                                            {{ form_widget(form.estadoSolucionado) }}
                                            <div class="input-group m-t-10">
                                                {{ form_widget(form.clienteRel, {'attr':{'class':'form-control'}}) }}
                                                <span class="input-group-btn">
                                                    {{ form_widget(form.btnFiltrar, {'attr':{'class':'btn waves-effect waves-light btn-custom'}}) }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    {% for error in errores %}
                                        {% if not error.estadoAtendido %}
                                            <div class="search-item">
                                                <h3 class="h5 font-600 m-b-5"><a href="#">{{ error.cliente }}</a></h3>
                                                <h6>Id: {{ error.id }} Código: {{ error.codigo }}
                                                    Fecha:{{ error.fecha|date('Y/m/d H:m') }}</h6>
                                                <div class="font-13 text-success m-b-10">
                                                    {{ error.url }}
                                                </div>
                                                <p class="m-b-0">
                                                    <a data-toggle="collapse" href="#{{ error.id }}" aria-expanded="false"
                                                       aria-controls="collapseExample">{{ error.mensaje|slice(0,100) }}</a>
                                                </p>
                                                <div class="collapse" id="{{ error.id }}">
                                                    <hr>
                                                    <div class="card card-block">
                                                        {{ error.mensaje }} Archivo:{{ error.archivo }} Linea:{{ error.linea }}
                                                    </div>
                                                    <hr>
                                                </div>
                                            </div>
                                            <div style="float: right">
                                                <a href="{{ path('errorAtender', { 'codigoError':  error.id }) }}" class="btn btn-success" data-toggle="tooltip"
                                                   data-placement="top" title="Atender al error"
                                                   data-original-title="Tooltip on top"><span
                                                            class="glyphicon glyphicon-ok"></span>Solucionado</a>
                                                <a href="javascript:abrirVentana('{{ path('registrarSolucionError', { 'codigoError':  error.id }) }}','Ver comentarios',600, 900)" class="btn btn-info"data-toggle="tooltip"
                                                   data-placement="top" title="Enviar Correo solucionado al cliente"
                                                   data-original-title="Tooltip on top"><span
                                                            class="glyphicon glyphicon-send"></span>Correo</a>
                                            </div>
                                            <div class="clearfix"></div>
                                            <hr>
                                        {% endif %}
                                    {% endfor %}
                                    {#<ul class="pagination pagination-split pull-right">#}
                                    {#<li class="disabled">#}
                                    {#<a href="#"><i class="fa fa-angle-left"></i></a>#}
                                    {#</li>#}
                                    {#<li>#}
                                    {#<a href="#">1</a>#}
                                    {#</li>#}
                                    {#<li class="active">#}
                                    {#<a href="#">2</a>#}
                                    {#</li>#}
                                    {#<li>#}
                                    {#<a href="#">3</a>#}
                                    {#</li>#}
                                    {#<li>#}
                                    {#<a href="#">4</a>#}
                                    {#</li>#}
                                    {#<li>#}
                                    {#<a href="#">5</a>#}
                                    {#</li>#}
                                    {#<li>#}
                                    {#<a href="#"><i class="fa fa-angle-right"></i></a>#}
                                    {#</li>#}
                                    {#</ul>#}

                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    {% endblock content %}
        {{ include('bloquesGenerales/pie.html.twig') }}
{% endblock %}