{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title">Filtro de busqueda</h2>
                </header>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-1 control-label"></label>
                        <div class="col-sm-8">

                        </div>
                        <label class="col-sm-1 control-label">Atendido:</label>
                        <div class="col-sm-2">
                            {{ form_widget(form.estadoAtendido) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label"></label>
                        <div class="col-sm-8">

                        </div>
                        <label class="col-sm-1 control-label">Solucionado:</label>
                        <div class="col-sm-2">
                            {{ form_widget(form.estadoSolucionado) }}
                        </div>
                    </div>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            {{ form_widget(form.btnFiltrar, { 'attr': {'class': 'btn btn-primary', 'style':'float:right'} }) }}
                        </div>
                    </div>
                </footer>
            </section>
        </div>



        <div class="row">
            <div class="col-md-12">

                <h2 class="pb-lg">Errores</h2>

                <div class="toggle" data-plugin-toggle>
                    {% for arError in arErrores %}
                        <section class="toggle">
                            <label>{{ arError.codigoErrorPk }}-{{ arError.clienteNombre }} ({{ arError.fecha |date('Y-m-d H:i') }}): {{ arError.mensaje }} </label>
                            <p>{{ arError.traza }}</p>
                                <div class="btn-group" style="float: right">
                                    <a href="javascript:abrirVentana3('{{ path('error_solucionar', {'id' : arError.codigoErrorPk }) }}','solucionar',600,900)" class="btn btn-primary btn-xs">Solucionar</a>
                                </div>
                            <hr>
                        </section>
                    {% endfor %}
                </div>
            </div>
        </div>

        <hr>


        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>



{% endblock %}
