{% extends 'base_sin_menu.html.twig' %}

{% block content %}
    <div class="row">
        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title">Filtro de busqueda</h2>
                </header>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Comentario:</label>
                        <div class="col-sm-10">
                            {{ form_widget(form.comentario) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-6 control-label">{{ form_widget(form.enviarCorreo) }}</label>
                    </div>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            {{ form_widget(form.btnSolucionar, { 'attr': {'class': 'btn btn-primary', 'style':'float:right'} }) }}
                        </div>
                    </div>
                </footer>
            </section>
        </div>

        <hr>


        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>



{% endblock %}
