{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <table width="100%" class="table table-condensed table-bordered tabla-datos">
        <tr>
            <td class="titulo">CODIGO:</td>
            <td class="td-in-well">{{ arTarea.codigoTareaPk }}</td>
            <td class="titulo">FECHA:</td>
            <td class="td-in-well">{{ arTarea.fechaRegistro | date('Y-m-d H:i') }}</td>
            <td class="titulo">TIPO:</td>
            <td class="td-in-well">{{ arTarea.tareaTipoRel.nombre }}</td>
        </tr>
        <tr>
            <td class="titulo">PRIORIDAD:</td>
            <td class="td-in-well">{{ arTarea.prioridadRel.nombre }}</td>
            <td class="titulo">USUARIO REGISTRA:</td>
            <td class="td-in-well">{{ arTarea.codigoUsuarioRegistraFk }}</td>
            <td class="titulo">USUARIO ASIGNA:</td>
            <td class="td-in-well">{{ arTarea.codigoUsuarioAsignaFk }}</td>
        </tr>
        <tr>
            <td class="titulo">FECHA GESTION:</td>
            <td class="td-in-well">{{ arTarea.fechaGestion | date('Y-m-d H:i') }}</td>
            <td class="titulo">FECHA EJECUCION:</td>
            <td class="td-in-well">{{ arTarea.fechaEjecucion | date('Y-m-d H:i') }}</td>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
        </tr>
        <tr>
            <td class="titulo">DESCRIPCION:</td>
            <td class="td-in-well" colspan="5">{{ arTarea.descripcion }}</td>
        </tr>
    </table>
    {{ form_end(form) }}
{% endblock %}
