{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title">Filtro de busqueda</h2>
                </header>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-1 control-label"></label>
                        <div class="col-sm-8">

                        </div>
                        <label class="col-sm-1 control-label">Ejecucion:</label>
                        <div class="col-sm-2">
                            {{ form_widget(form.estadoEjecucion) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label"></label>
                        <div class="col-sm-8">

                        </div>
                        <label class="col-sm-1 control-label">Incomprensible:</label>
                        <div class="col-sm-2">
                            {{ form_widget(form.estadoIncomprensible) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label"></label>
                        <div class="col-sm-8">

                        </div>
                        <label class="col-sm-1 control-label">Pausa:</label>
                        <div class="col-sm-2">
                            {{ form_widget(form.estadoPausa) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label"></label>
                        <div class="col-sm-8">

                        </div>
                        <label class="col-sm-1 control-label">Terminado:</label>
                        <div class="col-sm-2">
                            {{ form_widget(form.estadoTerminado) }}
                        </div>
                    </div>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            {{ form_widget(form.btnFiltrar, { 'attr': {'class': 'btn btn-primary', 'style':'float:right'} }) }}
                        </div>
                    </div>
                </footer>
            </section>
        </div>

        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title">Lista</h2>
                </header>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed table-bordered table-hover mb-none">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Centro</th>
                                <th>Norma</th>
                                <th>Descripcion</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for arMalla in arMallas %}
                                <tr>
                                    <td>{{ arMalla.codigoMallaPk }}</td>
                                    <td>{{ arMalla.centroNombre }}</td>
                                    <td>{{ arMalla.normaNombre }}</td>
                                    <td>{{ arMalla.normaDescripcion }}</td>
                                    <td style="text-align: center"><a href="{{ path('malla_detalle', { 'id': arMalla.codigoMallaPk }) }}" class="btn btn-primary btn-xs"><i class="fa fa-share-square"></i></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>



{% endblock %}
