{% extends 'base.html.twig' %}
{% block body %}

    {{ include('bloquesGenerales/menuEncabezado.html.twig') }}
    {{ include('bloquesGenerales/menuIzquierdo.html.twig') }}
                {% block content %}
                {{ form_start(form) }}
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title-box">
                        <h4 class="page-title" style="padding-right: 10px;"><i
                                    class="glyphicon glyphicon-th-list"></i> Generar reporte </h4>
                    </div>
                </div>
            </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-box">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    {{ form_widget(form.fecha) }}
                                    <div class="input-group m-t-10">
                                    <div class="col-sm-11">
                                        <div class="input-group-btn">
                                        {{ form_widget(form.btnGenerarSoportes, {'attr':{'class':'btn-secondary btn'}}) }}
                                        </div>
                                        <div class="input-group-btn">
                                            {{ form_widget(form.btnGenerarCasos, {'attr':{'class':'btn-secondary btn'}}) }}
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
                    {{ form_end(form) }}
                {% endblock content %}
    {{ include('bloquesGenerales/pie.html.twig') }}
{% endblock %}