{% extends 'base_admin.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            <a class="btn btn-default btn-sm" href="{{ path('subGrupo_lista') }}">Volver</a>
        </div>
    </div>
    <br><br>
    <table width="100%" class="table table-condensed table-bordered tabla-datos ">
        <tr>
            <td  class="titulo">Id</td>
            <td class="td-in-well">{{ arSubGrupos[0].codigoSubgrupoPk }}</td>
        </tr>
        <tr>
            <td  class="titulo">Nombre</td>
            <td class="td-in-well">{{ arSubGrupos[0].nombre }}</td>
        </tr>
        <tr>
            <td  class="titulo">Grupo Asosiado</td>
            <td class="td-in-well">{{ arSubGrupos[0].grupoNombre }}</td>
        </tr>
    </table>
    {{ form_end(form) }}
{% endblock %}