{% extends 'base_sin_menu.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <br>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4> Filtros de búsqueda</h4>
            </div>
            <div class="panel-body">
                <div class="form-group form-group-sm">
                </div>
            </div>
            <div class="panel-footer">
                <br/>
                <br/>
            </div>
        </div>
    </div>
    <div>
        <div class="col-md-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered mb-none tabla-datos">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Plazo</th>
                                <th>Tipo</th>
                                <th>Numero</th>
                                <th>Fecha</th>
                                <th>Vence</th>
                                <th>Valor</th>
                                <th>Saldo</th>
                                <th><input type="checkbox" name="ChkSeleccionarTodos"
                                           OnClick="ChequearTodosTabla(this, 'ChkSeleccionar[]');"/></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for arCuentaPagar in arCuentasPagar %}
                            <tr>
                                <td>{{ arCuentaPagar.codigoCuentaPagarPk }}</td>
                                <td>{{ arCuentaPagar.plazo }}</td>
                                <td>{{ arCuentaPagar.nombre }}</td>
                                <td>{{ arCuentaPagar.numeroDocumento }}</td>
                                <td>{{ arCuentaPagar.fecha | date('Y-m-d') }}</td>
                                <td>{{ arCuentaPagar.fechaVence | date('Y-m-d') }}</td>
                                <td style="text-align: right">{{ arCuentaPagar.vrTotalBruto | number_format }}</td>
                                <td style="text-align: right"><input width="60px" style="text-align: right" type="text" name="TxtSaldo{{ arCuentaPagar.codigoCuentaPagarPk }}" value="{{ arCuentaPagar.vrSaldo  }}" size="8" onkeypress="return validarNumeros(event)" onclick="this.select()"/></td>
                                <td style="text-align: center"><input type="checkbox" name="ChkSeleccionar[]"
                                                                      value="{{ arCuentaPagar.codigoCuentaPagarPk }}"/>
                                </td>
                                {% endfor %}
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="btn-group" style="float: left">
                        <div class="btn btn-default btn-sm">Registros <span
                                    class="badge">{{ arCuentasPagar.getTotalItemCount }}</span>
                        </div>
                    </div>
                    <div class="btn-group btn-sm" style="float: left;margin-left: 0px;padding-top: 0px;">
                        {{ knp_pagination_render(arCuentasPagar) }}
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            {{ form_widget(form.btnGuardar,{'attr':{'style':'float: right;'}}) }}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}




































