{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="btn-group" style="float:left">
        <a class="btn btn-default btn-sm"
           href="{{ path('egreso_lista', {'documento': arEgreso.documentoRel.codigoDocumentoPk}) }}">Volver</a>
        {{ form_widget(form.btnAutorizar) }}
        {{ form_widget(form.btnDesautorizar) }}
        {{ form_widget(form.btnAprobado) }}
        {{ form_widget(form.btnImprimir) }}
    </div>
    <div style="float:right">
        {% if arEgreso.estadoAutorizado == true %}<span class="badge badge-success">Autorizado</span>{% endif %}
    </div>
    <div style="float:right">
        {% if arEgreso.estadoAnulado == true %}<span class="badge badge-success">Desautorizado</span>{% endif %}
    </div>
    <div style="float:right">
        {% if arEgreso.estadoAprobado == true %}<span class="badge label-success">Aprobado</span>{% endif %}
    </div>
    <br><br>
    <table width="100%" class="table table-condensed table-bordered tabla-informacion ">
        <tr>
            <td class="titulo">ID:</td>
            <td class="td-in-well">{{ arEgreso.codigoEgresoPk }}</td>
            <td class="titulo">CUENTA:</td>
            <td class="td-in-well">{{ arEgreso.cuentaRel.cuenta | default('') }}</td>
            <td class="titulo">PAGO:</td>
            <td class="numero">{{ arEgreso.vrPago | number_format(0, '.', ',') }}</td>
        </tr>
        <tr>
            <td class="titulo">NUMERO:</td>
            <td class="td-in-well">{{ arEgreso.numero | default('') }}</td>
            <td class="titulo">FECHA:</td>
            <td class="td-in-well">{{ arEgreso.fecha|date('Y-m-d') }}</td>
            <td class="titulo">TOTAL</td>
            <td class="numero">{{ arEgreso.vrPagoTotal | number_format(0, '.', ',') }}</td>
        </tr>
        <tr>
            <td class="titulo">FECHA PAGO:</td>
            <td class="td-in-well">{{ arEgreso.fechaPago | date('Y-m-d') }}</td>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
        </tr>
        <tr>
            <td class="titulo">TERCERO:</td>
            <td class="td-in-well">{{ arEgreso.terceroRel.nombreCorto }}</td>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
        </tr>
        <tr>
            <td class="titulo">COMENTARIO:</td>
            <td class="td-in-well" colspan="5">{{ arEgreso.comentario }}</td>
        </tr>
    </table>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#detalles" data-toggle="tab">Detalles</a></li>
    </ul>
    <br/>
    <section class="panel">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered mb-none tabla-datos">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Numero</th>
                        <th>Tipo</th>
                        <th>Pago</th>
                        <th>Total</th>
                        <th><input type="checkbox" name="ChkSeleccionarTodosDetalle"
                                   OnClick="ChequearTodosTabla(this, 'ChkSeleccionar[]');"/></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for arEgresoDetalle in arEgresoDetalles %}
                        <tr>
                            <td>{{ arEgresoDetalle.codigoEgresoDetallePk }}</td>
                            <input type="hidden"
                                   name="arrCodigo[]"
                                   value="{{ arEgresoDetalle.codigoEgresoDetallePk }}">
                            <td>{{ arEgresoDetalle.numeroCompra }}</td>
                            <td>{{ arEgresoDetalle.nombre |default('') }}</td>
                            <td style="text-align: right">{{ arEgresoDetalle.vrPago | number_format(0, '.', ',') }}</td>
                            <td style="text-align: right">{{ arEgresoDetalle.total | number_format(0, '.', ',') }}</td>
                            <td style="text-align: center"><input type="checkbox" name="ChkSeleccionar[]"
                                                                  value="{{ arEgresoDetalle.codigoEgresoDetallePk }}"/>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div style="display: flex; flex-direction: row;">
                <span style="margin-right: 4px">registros: {{ arEgresoDetalles.getTotalItemCount }}</span>
                {{ knp_pagination_render(arEgresoDetalles) }}
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-9 col-sm-offset-3">
                    <div style="float: right; margin-right: 5px !important;" class="btn-group" role="group"
                         aria-label="...">
                        <div class="btn-group">
                            {{ form_widget(form.btnActualizar) }}
                            {% if arEgreso.estadoAutorizado == 0 %}
                                <a class="btn btn-default btn-sm"
                                   href="javascript:abrirVentana3('{{ path('egreso_detalle_nuevo', {'id':arEgreso.codigoEgresoPk }) }}', 'EgresoAdicionarDetalle', 600, 900)">Nuevo</a>
                            {% endif %}
                            {{ form_widget(form.btnEliminar) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ form_end(form) }}
{% endblock %}




































