{% extends 'base.html.twig' %}



{% block content %}

    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            <a class="btn btn-default btn-sm" href="{{ path('tercero_lista') }}">Volver</a>
        </div>
    </div>
    <br><br>
    <table width="100%" class="table table-condensed table-bordered tabla-datos ">
        <tr>
            <td  class="titulo">ID:</td>
            <td class="td-in-well">{{ arTercero.codigoTerceroPk }}</td>
        </tr>
        <tr>
            <td  class="titulo">NOMBRE CORTO:</td>
            <td class="td-in-well">{{ arTercero.nombreCorto }}</td>
        </tr>
        <tr>
            <td  class="titulo">CLIENTE:</td>
            <td class="td-in-well">{{ arTercero.cliente }}</td>
        </tr>
        <tr>
            <td  class="titulo">PROVEEDOR:</td>
            <td class="td-in-well">{{ arTercero.proveedor }}</td>
        </tr>
    </table>
    {{ form_end(form) }}

{% endblock %}




































