{% extends 'base.html.twig' %}
 {% block content %}
     {{ form_start(form) }}
     {{ notificar()|raw }}
     <div class="row">
         <div class="col-md-12">
             <section class="panel">
                 <header class="panel-heading">
                     <div class="panel-actions">
                         <a href="#" class="fa fa-caret-down"></a>
                     </div>
                     <h2 class="panel-title">Filtro de busqueda</h2>
                 </header>
                 <div class="panel-body">
                     <div class="form-group">
                         <div class="form-group form-group-sm">
                             <label class="col-sm-1 control-label"></label>
                             <div class="col-sm-10">

                             </div>
                         </div>
                     </div>
                 </div>
                 <div class="panel-footer">
                     <div class="row">
                         <div class="col-sm-9 col-sm-offset-3">
                             {{ form_widget(form.btnFiltrar, { 'attr': {'class': 'btn btn-primary', 'style':'float:right'} }) }}
                         </div>
                     </div>
                 </div>
             </section>
         </div>
         <div class="col-md-12">
             <section class="panel">
                 <div class="panel-body">
                     <div class="table-responsive">
                         <table class="table table-bordered mb-none tabla-datos">
                             <thead>
                             <tr>
                                 <th>Id</th>
                                 <th>Documento</th>
                                 <th>Numero</th>
                                 <th>Fecha</th>
                                 <th>Referencia</th>
                                 <th>Tercero</th>
                                 <th>Subtotal</th>
                                 <th>Iva</th>
                                 <th>Neto</th>
                                 <th></th>
                                 <th><input type="checkbox" name="ChkSeleccionarTodosDetalle"
                                            OnClick="ChequearTodosTabla(this, 'ChkSeleccionar[]');"/></th>
                             </tr>
                             </thead>
                             <tbody>
                             {% for arMovimiento in arMovimientos %}
                                 <tr>
                                     <td>{{ arMovimiento.codigoMovimientoPk }}</td>
                                     <td>{{ arMovimiento.documentoNombre }}</td>
                                     <td>{{ arMovimiento.numero }}</td>
                                     <td>{{ arMovimiento.fecha|date('Y-m-d') }}</td>
                                     <td>{{ arMovimiento.referencia }}</td>
                                     <td>{{ arMovimiento.tercero }}</td>
                                     <td class="numero">{{ arMovimiento.vrSubtotal | number_format }}</td>
                                     <td class="numero">{{ arMovimiento.vrIva | number_format }}</td>
                                     <td class="numero">{{ arMovimiento.vrTotalNeto | number_format }}</td>
                                     <td>
                                         <a href="javascript:abrirVentana3('{{ path('proceso_venta_facturaelectronica_log',{'entidad': 'InvMovimiento', 'codigo': arMovimiento.codigoMovimientoPk }) }}','Respuesta',800,1200)">Log</a>
                                     </td>
                                     <td align="center"><input type="checkbox" name="ChkSeleccionar[]" value="{{ arMovimiento.codigoMovimientoPk }}"/></td>
                                 </tr>
                             {% endfor %}
                             </tbody>
                         </table>
                         <div style="display: flex; flex-direction: row;">
                             <span style="margin-right: 4px">registros: {{ arMovimientos.getTotalItemCount }}</span>
                             {{ knp_pagination_render(arMovimientos) }}
                         </div>
                     </div>
                 </div>
                 <div class="panel-footer">
                     <div class="row">
                         <div class="col-sm-9 col-sm-offset-3">
                             <div style="float: right; margin-right: 5px !important;" class="btn-group" role="group" aria-label="...">
                                 {{ form_widget(form.btnEnviar, { 'attr': {'class': 'btn btn-primary', 'style':'float:right'} }) }}
                             </div>
                         </div>
                     </div>
                 </div>
             </section>
         </div>
     </div>
     {{ form_end(form) }}
 {% endblock %}




































