{% extends 'base_sin_menu.html.twig' %}
{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">Respuestas</div>
            <div class="panel-body">
                <div>
                    <table  class="table table-striped table-bordered table-condensed table-hover tabla-datos">
                        <tr>
                            <th>ID</th>
                            <th>FECHA</th>
                            <th title="Status code">ESTADO</th>
                            <th title="Error message">MENSAJE</th>
                            <th title="Error Reason">RAZON</th>
                        </tr>
                        {% for arRespuesta in arRespuestas %}
                            <tr>
                                <td>{{ arRespuesta.codigoRespuestaFacturaElectronicaPk  }}</td>
                                <td>{{ arRespuesta.fecha | date('Y-m-d H:i') }}</td>
                                <td>{{ arRespuesta.statusCode }}</td>
                                <td>{{ arRespuesta.errorMessage }}</td>
                                <td>

                                    <table  class="table">
                                        {% for reason in arRespuesta.errorReason %}
                                            <tr>
                                                <td>{{ reason  }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    {{ knp_pagination_render(arRespuestas) }}
                </div>
                <div class="btn-group" style="float: left">
                    <div class="btn btn-default btn-sm">Registros
                        <span class="badge">{{ arRespuestas.getTotalItemCount }}
            </span>
                    </div>
                </div>
                <div class="btn-group btn-xs" style="float: left;margin-top: -18px;">
                    {{ knp_pagination_render(arRespuestas) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}