<!DOCTYPE html>
<html class="fixed">
    <head>
        <meta charset="UTF-8" />
        {% block metas %}
            <title>{% block title %}Selecto{% endblock %}</title>
            <meta name="keywords" content="HTML5 Admin Template" />
            <meta name="description" content="JSOFT Admin - Responsive HTML5 Template">
            <meta name="author" content="JSOFT.net">

            <!-- Mobile Metas -->
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        {% endblock %}
        <!-- Web Fonts  -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">


        {% block stylesheets %}
            <!-- Vendor CSS -->
            <link rel="stylesheet" href="{{ asset('css/general.css') }}">
            <link href="{{ asset('plantilla/vendor/bootstrap/css/bootstrap.css') }}" rel="stylesheet">
            <link href="{{ asset('plantilla/vendor/font-awesome/css/font-awesome.css') }}" rel="stylesheet">
            <link href="{{ asset('plantilla/vendor/magnific-popup/magnific-popup.css') }}" rel="stylesheet">
            <link href="{{ asset('plantilla/vendor/bootstrap-datepicker/css/datepicker3.css') }}" rel="stylesheet">

            <!-- Specific Page Vendor CSS -->
            <link href="{{ asset('plantilla/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css') }}" rel="stylesheet">
            <link href="{{ asset('plantilla/vendor/bootstrap-multiselect/bootstrap-multiselect.css') }}" rel="stylesheet">
            <link href="{{ asset('plantilla/vendor/morris/morris.css') }}" rel="stylesheet">

            <!-- Theme CSS -->
            <link href="{{ asset('plantilla/stylesheets/theme.css') }}" rel="stylesheet">
            <!-- Skin CSS -->
            <link href="{{ asset('plantilla/stylesheets/skins/default.css') }}" rel="stylesheet">

            <!-- Theme Custom CSS -->
            <link href="{{ asset('plantilla/stylesheets/theme-custom.css') }}" rel="stylesheet">

        {% endblock %}
        <script src="{{ asset('plantilla/vendor/modernizr/modernizr.js') }}"></script>

    </head>
    <body>

        {% block body %}
        <section class="body">
            {% include('base/encabezado.html.twig') %}
            <div class="inner-wrapper">
                <!-- start: sidebar -->
                {% include('base/menu.html.twig') %}
                <!-- end: sidebar -->

                <section role="main" class="content-body">
                    <header class="page-header">
                        <h2>Dashboard</h2>

                        <div class="right-wrapper pull-right">
                            <ol class="breadcrumbs">
                                <li>
                                    <a href="{{ path('inicio') }}">
                                        <i class="fa fa-home"></i>
                                    </a>
                                </li>
                                <li><span>Dashboard</span></li>
                            </ol>

                            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
                        </div>
                    </header>
                    {% block content %}

                    {% endblock %}
                </section>
            </div>
            {% include('base/columaDerecha.html.twig') %}

        </section>
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/general.js') }}"></script>
            <script src="{{ asset('plantilla/vendor/jquery/jquery.js') }}"></script>
            <script src="{{ asset('plantilla/vendor/jquery-browser-mobile/jquery.browser.mobile.js') }}"></script>
            <script src="{{ asset('plantilla/vendor/bootstrap/js/bootstrap.js') }}"></script>
            <script src="{{ asset('plantilla/vendor/nanoscroller/nanoscroller.js') }}"></script>
            <script src="{{ asset('plantilla/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
            <script src="{{ asset('plantilla/vendor/magnific-popup/magnific-popup.js') }}"></script>
            <script src="{{ asset('plantilla/vendor/jquery-placeholder/jquery.placeholder.js') }}"></script>
            <!-- Specific Page Vendor -->
            <script src="{{ asset('plantilla/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js') }}"></script>
            <script src="{{ asset('plantilla/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js') }}"></script>
            <script src="{{ asset('plantilla/vendor/jquery-appear/jquery.appear.js') }}"></script>
            <script src="{{ asset('plantilla/vendor/bootstrap-multiselect/bootstrap-multiselect.js') }}"></script>
            <script src="{{ asset('plantilla/vendor/jquery-easypiechart/jquery.easypiechart.js') }}"></script>
            <script src="{{ asset('plantilla/vendor/flot/jquery.flot.js') }}"></script>
            <script src="{{ asset('plantilla/vendor/flot-tooltip/jquery.flot.tooltip.js') }}"></script>
            <script src="{{ asset('plantilla/vendor/flot/jquery.flot.pie.js') }}"></script>
            <script src="{{ asset('plantilla/vendor/flot/jquery.flot.categories.js') }}"></script>
            <script src="{{ asset('plantilla/vendor/flot/jquery.flot.resize.js') }}"></script>
            <script src="{{ asset('plantilla/vendor/jquery-sparkline/jquery.sparkline.js') }}"></script>
            <script src="{{ asset('plantilla/vendor/raphael/raphael.js') }}"></script>
            <script src="{{ asset('plantilla/vendor/morris/morris.js') }}"></script>
            <script src="{{ asset('plantilla/vendor/gauge/gauge.js') }}"></script>
            <script src="{{ asset('plantilla/vendor/snap-svg/snap.svg.js') }}"></script>
            <script src="{{ asset('plantilla/vendor/liquid-meter/liquid.meter.js') }}"></script>
            <script src="{{ asset('plantilla/vendor/jqvmap/jquery.vmap.js') }}"></script>
            <script src="{{ asset('plantilla/vendor/jqvmap/data/jquery.vmap.sampledata.js') }}"></script>
            <script src="{{ asset('plantilla/vendor/jqvmap/maps/jquery.vmap.world.js') }}"></script>
            <script src="{{ asset('plantilla/vendor/jqvmap/maps/continents/jquery.vmap.africa.js') }}"></script>
            <script src="{{ asset('plantilla/vendor/jqvmap/maps/continents/jquery.vmap.asia.js') }}"></script>
            <script src="{{ asset('plantilla/vendor/jqvmap/maps/continents/jquery.vmap.australia.js') }}"></script>
            <script src="{{ asset('plantilla/vendor/jqvmap/maps/continents/jquery.vmap.europe.js') }}"></script>
            <script src="{{ asset('plantilla/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js') }}"></script>
            <script src="{{ asset('plantilla/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js') }}"></script>

            <!-- Theme Base, Components and Settings -->
            <script src="{{ asset('plantilla/javascripts/theme.js') }}"></script>

            <!-- Theme Custom -->
            <script src="{{ asset('plantilla/javascripts/theme.custom.js') }}"></script>

            <!-- Theme Initialization Files -->
            <script src="{{ asset('plantilla/javascripts/theme.init.js') }}"></script>

            <!-- Examples -->
            <script src="{{ asset('plantilla/javascripts/dashboard/examples.dashboard.js') }}"></script>

        {% endblock %}
    </body>
</html>
