{% extends "base_sin_menu.html.twig" %}
{% block content %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title">Informacion General</h2>
                </header>
                <div class="panel-body">
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label">Nueva clave:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.txtNuevaClave) }}
                        </div>
                        <label class="col-sm-2 control-label">Confirmar clave:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.txtConfirmacionClave) }}
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            {{ form_widget(form.btnActualizar, { 'attr': {'class': 'btn btn-primary', 'style':'float:right'} }) }}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}