{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title">Filtro de busqueda</h2>
                </header>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-1 control-label"></label>
                        <div class="col-sm-8">

                        </div>
                        <label class="col-sm-1 control-label">Ejecucion:</label>
                        <div class="col-sm-2">
                            {{ form_widget(form.estadoEjecucion) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label"></label>
                        <div class="col-sm-8">

                        </div>
                        <label class="col-sm-1 control-label">Incomprensible:</label>
                        <div class="col-sm-2">
                            {{ form_widget(form.estadoIncomprensible) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label"></label>
                        <div class="col-sm-8">

                        </div>
                        <label class="col-sm-1 control-label">Pausa:</label>
                        <div class="col-sm-2">
                            {{ form_widget(form.estadoPausa) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label"></label>
                        <div class="col-sm-8">

                        </div>
                        <label class="col-sm-1 control-label">Terminado:</label>
                        <div class="col-sm-2">
                            {{ form_widget(form.estadoTerminado) }}
                        </div>
                    </div>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            {{ form_widget(form.btnFiltrar, { 'attr': {'class': 'btn btn-primary', 'style':'float:right'} }) }}
                        </div>
                    </div>
                </footer>
            </section>
        </div>

        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title">Lista</h2>
                </header>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed table-bordered table-hover mb-none">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Fecha</th>
                                <th>Tipo</th>
                                <th>Caso</th>
                                <th>Usuario registra</th>
                                <th>Usuario asigna</th>
                                <th>Descripcion</th>
                                <th>Pri</th>
                                <th title="Ejecucion">EJE</th>
                                <th title="Incomprensible">INC</th>
                                <th title="Pausa">PAU</th>
                                <th title="Terminado">TER</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for arTarea in arTareas %}
                                <tr>
                                    <td>{{ arTarea.codigoTareaPk }}</td>
                                    <td>{{ arTarea.fechaRegistro | date('Y-m-d') }}</td>
                                    <td>{{ arTarea.tipo }}</td>
                                    <td>{{ arTarea.codigoCasoFk | default('') }}</td>
                                    <td>{{ arTarea.codigoUsuarioRegistraFk }}</td>
                                    <td>{{ arTarea.codigoUsuarioAsignaFk }}</td>
                                    <td>{{ arTarea.descripcion }}</td>
                                    <td>{{ arTarea.prioridad }}</td>
                                    <td>
                                        {% if arTarea.estadoEjecucion == 0 %}
                                            NO
                                        {% else %}
                                            SI
                                        {% endif %}
                                        </td>
                                    <td>
                                        {% if arTarea.estadoIncomprensible== 0 %}
                                            NO
                                        {% else %}
                                            SI
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if arTarea.estadoPausa== 0 %}
                                            NO
                                        {% else %}
                                            SI
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if arTarea.estadoTerminado== 0 %}
                                            NO
                                        {% else %}
                                            SI
                                        {% endif %}
                                    </td>
                                    <td style="text-align: center"><a href="{{ path('tarea_detalle', { 'id': arTarea.codigoTareaPk }) }}" class="btn btn-primary btn-xs"><i class="fa fa-share-square"></i></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>



{% endblock %}
