{% extends 'base.html.twig' %}

{% block bodyAtt %}class="fixed-left"{% endblock %}

{% block body %}


        {{ include('bloquesGenerales/menuEncabezado.html.twig') }}

        {{ include('bloquesGenerales/menuIzquierdo.html.twig') }}
                    {% block content %}
<div class="main-body">
    <div class="current-bar">
        <h2>Tareas</h2>
    </div>
    <div class="main-content">

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="page-title-box">


                                    <a href="{{ path('registrarTarea') }}">
                                        <button class="btn btn-success btn-bordered waves-effect waves-light" style="float: right;"><span class="mdi mdi-plus"></span> Nueva</button>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-box">
                                    <div class="table-responsive">
                                        <table id="tarea-table" class="table table table-hover m-0">

                                            <thead>
                                            <tr>
                                                <th>Registra</th>
                                                <th>Fecha</th>
                                                <th>Tipo</th>
                                                <th>Fecha asignaci贸n</th>
                                                <th>Asignado</th>
                                                <th>Fecha soluci贸n</th>
                                                <th>Fecha verificaci贸n</th>
                                                <th>Descripci贸n</th>
                                                <th>Comentario</th>
                                               
                                            </tr>
                                            </thead>
                                            <tbody>

                                            {% for tarea in tareas %}

                                                <tr>
                                                    <td>
                                                        {{ tarea.codigoUsuarioRegistraFk }}
                                                    </td>
                                                    <td>
                                                        {% if tarea.fechaRegistro != null %}
                                                            {{ tarea.fechaRegistro|date('y-m-d') }}
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {% if tarea.tareaTipoRel != null %}
                                                            <span class="label label-default">{{ tarea.tareaTipoRel.codigoTareaTipoPk }}</span>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {% if tarea.fechaGestion != null %}
                                                            {{ tarea.fechaGestion|date('y-m-d') }}
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {{ tarea.codigoUsuarioAsignaFk }}
                                                    </td>
                                                    <td>
                                                        {% if tarea.fechaSolucion != null %}
                                                            {{ tarea.fechaSolucion|date('y-m-d') }}
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {% if tarea.fechaVerificado != null %}
                                                            {{ tarea.fechaVerificado|date('y-m-d') }}
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {{ tarea.descripcion }}
                                                    </td>
                                                    <td>
                                                        {{ tarea.comentario}}
                                                    </td>


                                                </tr>
                                            {% endfor %}

                                            </tbody>
                                        </table>

                                    </div> <!-- table-responsive -->
                                </div> <!-- end card -->
                            </div>
                            <!-- end col -->

                        </div>

                    {% endblock content %}
                    <div class="btn-group" style="float: left">
                        <div class="btn btn-default ">Registros <span
                                    class="badge">{{ tareas.getTotalItemCount }}</span></div>
                        <div class="btn-group"
                             style="float: left;margin: 0px;padding-top: 0px">{{ knp_pagination_render(tareas) }}</div>
                    </div>
    </div>
    </div>


    {{ include('bloquesGenerales/pie.html.twig') }}
{% endblock %}
