{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            <a class="btn btn-default btn-sm" href="{{ path('recursoHumano_programacion_lista') }}">Volver</a>
        </div>
        <div class="btn-group">
            <button type="submit" id="form_btnAutorizar" name="form[btnAutorizar]" class="btn btn-sm btn-default btn">Autorizar</button>
            <button type="submit" id="form_btnDesautorizar" name="form[btnDesautorizar]" disabled="disabled" class="btn btn-sm btn-default btn">Desautorizar</button>
            <button type="submit" id="form_btnImprimir" name="form[btnImprimir]" class="btn btn-sm btn-default btn">Imprimir</button>
            <button type="submit" id="form_btnAprobar" name="form[btnAprobar]" disabled="disabled" class="btn btn-sm btn-default btn">Aprobar</button>
            <button type="submit" id="form_btnAnular" name="form[btnAnular]" disabled="disabled" class="btn btn-default btn-sm btn" onclick="return confirm(&quot;Esta seguro de anular el registro?&quot;)">Anular</button>
            <button type="submit" id="form_btnImprimirResumen" name="form[btnImprimirResumen]" disabled="disabled" class="btn btn-sm btn-default btn">Resumen</button>
        </div>
    </div>
    <br><br>
    <table width="100%" class="table table-condensed table-bordered tabla-informacion ">
        <tr>
            <td class="titulo">ID</td>
            <td class="td-in-well">{{ arProgramacion.codigoProgramacionPk }}</td>
            <td class="titulo">TIPO CONTRATO</td>
            <td class="td-in-well">{{ arProgramacion.grupoRel.nombre }}</td>
        </tr>
        <tr>
            <td class="titulo">FECHA DESDE</td>
            <td class="td-in-well">{{ arProgramacion.fechaDesde | date("Y/m/d") }}</td>
            <td class="titulo">FECHA HASTA</td>
            <td class="td-in-well">{{ arProgramacion.fechaHasta | date("Y/m/d") }}</td>
        </tr>
        <tr>
            <td class="titulo">FECHA HASTA PERIODO</td>
            <td class="td-in-well">{{ arProgramacion.fechaHastaPeriodo | date("Y/m/d") }}</td>
            <td class="titulo">NOMBRE</td>
            <td class="td-in-well">{{ arProgramacion.NOMBRE }}</td>
        </tr>
        <tr>
            <td class="titulo">ClASIFICACIÓN RIESGO</td>
            <td class="td-in-well"> arProgramacion.clasificacionRiesgoRel.nombre }}</td>
            <td class="titulo">CANTIDAD</td>
            <td class="td-in-well">{{ arProgramacion.cantidad }}</td>
        </tr>
        <tr>
            <td class="titulo">VALOR NETO</td>
            <td class="td-in-well">{{arProgramacion.vrNeto }}</td>
            <td class="titulo">GRUPO</td>
            <td class="td-in-well">{{ arProgramacion.grupoRel.nombre }}</td>
        </tr>
        <tr>
            <td class="titulo">FECHA PAGO</td>
            <td class="td-in-well">{{arProgramacion.fechaPagado |date('Y/m/d') }}</td>
            <td class="titulo">EMPLEADOS GENERADOS</td>
            <td class="td-in-well">{{arProgramacion.empleadosGenerados  ?"si":"no" }}</td>
        </tr>

        <tr>
            <td class="titulo">ESTADO AUTORIZADO</td>
            <td class="td-in-well">{{ arProgramacion.estadoAutorizado  ?"si":"no" }}</td>
            <td class="titulo">ESTADO APROBADO</td>
            <td class="td-in-well">{{ arProgramacion.estadoAprobado ?"si":"no" }}</td>
        </tr>
        <tr>

            <td class="titulo">ESTADO PAGADO</td>
            <td class="td-in-well">{{ arProgramacion.estadoPagado ?"si":"no" }}</td>
            <td class="titulo">ESTADO ANULADO</td>
            <td class="td-in-well">{{ arProgramacion.estadoAnulado ?"si":"no" }}</td>
        </tr>
        <tr>
            <td class="titulo">MENSAJE PAGO</td>
            <td class="td-in-well">{{ arProgramacion.mensajePago }}</td>
            <td class="titulo">DÍAS</td>
            <td class="td-in-well">{{  arProgramacion.dias }}</td>
        </tr>
    </table>
    <br>
    <div class="col-mg-12">
        <div class="tabs tabs-primary">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#popular1" data-toggle="tab"><i class="fa fa-star"></i>Detalle</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="popular1" class="tab-pane active">
                    <div class="table-responsive">
                        <table class="table  table-bordered">
                            <thead>
                                <tr>
                                    <td>ID</td>
                                    <td>COD</td>
                                    <td>DOC</td>
                                    <td>NOMBRE</td>
                                    <td>CONT</td>
                                    <td>DESDE</td>
                                    <td>HASTA</td>
                                    <td>SALARIO</td>
                                    <td>D</td>
                                    <td>N</td>
                                    <td>FD</td>
                                    <td>ED</td>
                                    <td>EN</td>
                                    <td>EFD</td>
                                    <td>EFN</td>
                                    <td>RN</td>
                                    <td>RFD</td>
                                    <td>RFN</td>
                                    <td>VR. NETO</td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-9 col-sm-offset-3 ">
                                <div class="btn-group pull-right">
                                    {{ form_widget(form.btnCargarContratos) }}
                                    {{ form_widget(form.btnEliminar) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    {{ form_end(form) }}
{% endblock %}




































