{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            <a class="btn btn-default btn-sm" href="{{ path('RecursoHumano_programacion_lista') }}">Volver</a>
        </div>
    </div>
    <br><br>
    <table width="100%" class="table table-condensed table-bordered tabla-informacion ">
        <tr>
            <td class="titulo">ID</td>
            <td class="td-in-well">{{ arProgramacion.codigoProgramacionPk }}</td>
            <td class="titulo">TIPO CONTRATO</td>
            <td class="td-in-well">{{ arProgramacion.grupoRel.nombre }}</td>
        </tr>
        <tr>
            <td class="titulo">FECHA DESDE</td>
            <td class="td-in-well">{{ arProgramacion.fechaDesde | date("Y/m/d") }}</td>
            <td class="titulo">FECHA HASTA</td>
            <td class="td-in-well">{{ arProgramacion.fechaHasta | date("Y/m/d") }}</td>
        </tr>
        <tr>
            <td class="titulo">FECHA HASTA PERIODO</td>
            <td class="td-in-well">{{ arProgramacion.fechaHastaPeriodo | date("Y/m/d") }}</td>
            <td class="titulo">NOMBRE</td>
            <td class="td-in-well">{{ arProgramacion.NOMBRE }}</td>
        </tr>
        <tr>
            <td class="titulo">ClASIFICACIÓN RIESGO</td>
            <td class="td-in-well"> arProgramacion.clasificacionRiesgoRel.nombre }}</td>
            <td class="titulo">CANTIDAD</td>
            <td class="td-in-well">{{ arProgramacion.cantidad }}</td>
        </tr>
        <tr>
            <td class="titulo">VALOR NETO</td>
            <td class="td-in-well">{{arProgramacion.vrNeto }}</td>
            <td class="titulo">GRUPO</td>
            <td class="td-in-well">{{ arProgramacion.grupoRel.nombre }}</td>
        </tr>
        <tr>
            <td class="titulo">FECHA PAGO</td>
            <td class="td-in-well">{{arProgramacion.fechaPagado |date('Y/m/d') }}</td>
            <td class="titulo">EMPLEADOS GENERADOS</td>
            <td class="td-in-well">{{arProgramacion.empleadosGenerados  ?"si":"no" }}</td>
        </tr>

        <tr>
            <td class="titulo">ESTADO AUTORIZADO</td>
            <td class="td-in-well">{{ arProgramacion.estadoAutorizado  ?"si":"no" }}</td>
            <td class="titulo">ESTADO APROBADO</td>
            <td class="td-in-well">{{ arProgramacion.estadoAprobado ?"si":"no" }}</td>
        </tr>
        <tr>

            <td class="titulo">ESTADO PAGADO</td>
            <td class="td-in-well">{{ arProgramacion.estadoPagado ?"si":"no" }}</td>
            <td class="titulo">ESTADO ANULADO</td>
            <td class="td-in-well">{{ arProgramacion.estadoAnulado ?"si":"no" }}</td>
        </tr>
        <tr>
            <td class="titulo">MENSAJE PAGO</td>
            <td class="td-in-well">{{ arProgramacion.mensajePago }}</td>
            <td class="titulo">DÍAS</td>
            <td class="td-in-well">{{  arProgramacion.dias }}</td>
        </tr>
    </table>
    {{ form_end(form) }}
{% endblock %}




































