{% extends 'base_sin_menu.html.twig' %}
{% block content %}
    {{ form_start(form) }}
    {{ notificar()|raw }}
    <br>
    <div class="panel panel-default">
        <div class="panel-body">
            <table width="100%" class="table table-condensed table-bordered tabla-informacion" style="margin-bottom: 0 !important;">
                <tr>
                    <td class="titulo">CODIGO:</td>
                    <td class="td-in-well">{{ arPago.codigoPagoPk | default('')}}</td>
                    <td class="titulo"></td>
                    <td class="td-in-well numero" style="text-transform: uppercase;"></td>
                </tr>
                <tr>
                    <td class="titulo">EMPLEADO:</td>
                    <td class="td-in-well">{{ arProgramacionDetalle.empleadoRel.nombreCorto }}</td>
                    <td class="titulo">SALARIO:</td>
                    <td class="td-in-well numero" style="text-transform: uppercase;">{{ arProgramacionDetalle.vrSalario | number_format(0, '.', ',') }}</td>
                </tr>
                <tr>
                    <td class="titulo">FECHA INGRESO/RETIRO:</td>
                    <td class="td-in-well">
                        {{ arProgramacionDetalle.fechaDesdeContrato | date('Y-m-d') }}
                        {% if arProgramacionDetalle.fechaHastaContrato >= arProgramacionDetalle.fechaHasta %}
                            &nbsp;/ Vigente
                        {% else %}
                            / {{ arProgramacionDetalle.fechaHastaContrato | date('Y-m-d') }}
                        {% endif %}
                    </td>
                    <td class="titulo">CARGO:</td>
                    <td class="td-in-well" style="text-transform: uppercase;">{{ arProgramacionDetalle.contratoRel.cargoRel.nombre | default('') }}</td>
                </tr>
                <tr>
                    <td class="titulo">PERIODO:</td>
                    <td class="td-in-well">{{ arProgramacionDetalle.fechaDesde | date('Y-m-d') ~ ' / ' ~ arProgramacionDetalle.fechaHasta | date('Y-m-d') }}</td>
                    <td class="titulo">NETO:</td>
                    <td class="td-in-well numero" style="text-transform: uppercase;">{{ arProgramacionDetalle.vrNeto | number_format(0, '.', ',') }}</td>

                </tr>
            </table>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <table width="100%" class="table table-condensed table-bordered tabla-datos">
                <thead>
                <tr>
                    <th>ID</th>
                    <th title="Codigo del concepto">COD</th>
                    <th title="Nombre del concepto">CONCEPTO</th>
                    <th title="Mensaje opciones del pago">DETALLE</th>
                    <th>%</th>
                    <th>H</th>
                    <th>D</th>
                    <th title="Valor de la hora">VR.HORA</th>
                    <th title="Operación">OP</th>
                    <th>DEVENGADO</th>
                    <th>DEDUCCION</th>
                    <th>IBP</th>
                    <th>IBC</th>
                </tr>
                </thead>
                <tbody>
                {% set ibc = 0 %}
                {% set ibp = 0 %}
                {% set devengado = 0 %}
                {% set deduccion = 0 %}
                {% for arPagoDetalle in arPagoDetalles %}
                    <tr>
                        <td>{{ arPagoDetalle.codigoPagoDetallePk }}</td>
                        <td>{{ arPagoDetalle.codigoConceptoFk }}</td>
                        <td>{{ arPagoDetalle.nombre }}</td>
                        <td>{{ arPagoDetalle.detalle }}</td>
                        <td>{{ arPagoDetalle.porcentaje }}</td>
                        <td>{{ arPagoDetalle.horas }}</td>
                        <td>{{ arPagoDetalle.dias }}</td>
                        <td class="numero">{{ arPagoDetalle.vrHora |number_format(0, '.', ',') }}</td>
                        <td>{{ arPagoDetalle.operacion }}</td>
                        <td class="numero">{{ arPagoDetalle.vrDevengado |number_format(0, '.', ',') }}</td>
                        <td class="numero">{{ arPagoDetalle.vrDeduccion |number_format(0, '.', ',') }}</td>
                        <td class="numero">{{ arPagoDetalle.vrIngresoBasePrestacion |number_format(0, '.', ',') }}</td>
                        <td class="numero">{{ arPagoDetalle.vrIngresoBaseCotizacion |number_format(0, '.', ',') }}</td>
                    </tr>
                    {% set ibc = ibc + arPagoDetalle.vrIngresoBaseCotizacion %}
                    {% set ibp = ibp + arPagoDetalle.vrIngresoBasePrestacion %}
                    {% set devengado = devengado + arPagoDetalle.vrDevengado %}
                    {% set deduccion = deduccion + arPagoDetalle.vrDeduccion %}
                {% endfor %}
                <tr>
                    <td colspan="9"> </td>
                    <td class="numero">{{ devengado |number_format(0, '.', ',')}} </td>
                    <td class="numero">{{ deduccion |number_format(0, '.', ',')}} </td>
                    <td class="numero">{{ ibp |number_format(0, '.', ',')}} </td>
                    <td class="numero">{{ ibc |number_format(0, '.', ',')}} </td>
                </tr>
                </tbody>
            </table>
            <div class="btn-group" style="float: right">
                {{ form_widget(form.btnActualizar) }}
            </div>
        </div>
    </div>


    {{ form_end(form) }}
{% endblock %}