{% extends 'base.html.twig' %}
 {% block content %}
     {{ form_start(form) }}
     <div class="row">
         <div class="col-md-12">
             <section class="panel">
                 <header class="panel-heading">
                     <div class="panel-actions">
                         <a href="#" class="fa fa-caret-down"></a>
                     </div>
                     <h2 class="panel-title">Filtro de busqueda</h2>
                 </header>
                 <div class="panel-body">
                     <div class="form-group form-group-sm">
                         <label class="col-sm-1 control-label">Id:</label>
                         <div class="col-sm-2">
                             {{ form_widget(form.codigo) }}
                         </div>
                         <label class="col-sm-1 control-label">Nombre:</label>
                         <div class="col-sm-2">
                             {{ form_widget(form.nombre) }}
                         </div>
                         <label class="col-sm-1 control-label">Tiṕo:</label>
                         <div class="col-sm-5">
                             {{ form_widget(form.tipo) }}
                         </div>
                     </div>
                     <div class="form-group form-group-sm">
                         <label class="col-sm-1 control-label">Desde:</label>
                         <div class="col-sm-5">
                             {{ form_widget(form.fechaDesde) }}
                         </div>
                         <label class="col-sm-1 control-label">Grupo:</label>
                         <div class="col-sm-5">
                             {{ form_widget(form.Grupo) }}
                         </div>
                     </div>
                     <div class="form-group form-group-sm">
                         <label class="col-sm-1 control-label">Hasta:</label>
                         <div class="col-sm-5">
                             {{ form_widget(form.fechaHasta) }}
                         </div>
                     </div>
                 </div>
                 <div class="panel-footer">
                     <div class="row">
                         <div class="col-sm-9 col-sm-offset-3">
                             {{ form_widget(form.btnFiltrar, { 'attr': {'class': 'btn btn-primary', 'style':'float:right'} }) }}
                         </div>
                     </div>
                 </div>
             </section>
         </div>
         <div class="col-md-12">
             <section class="panel">
                 <div class="panel-body">
                     <div class="table-responsive">
                         <table class="table table-bordered mb-none tabla-datos">
                             <thead>
                             <tr>
                                 <th>Id</th>
                                 <th>Grupo</th>
                                 <th>Nombre</th>
                                 <th>Pago tipo</th>
                                 <th>Fecha desde</th>
                                 <th>Fecha hasta</th>
                                 <th>Días</th>
                                 <th>Cantidad</th>
                                 <th></th>
                                 <th></th>
                                 <th><input type="checkbox" name="ChkSeleccionarTodosDetalle"
                                            OnClick="ChequearTodosTabla(this, 'ChkSeleccionar[]');"/></th>
                             </tr>
                             </thead>
                             <tbody>
                             {% for arProgramacion in arProgramaciones %}
                                 <tr>
                                     <td>{{ arProgramacion.codigoProgramacionPk }}</td>
                                     <td>{{ arProgramacion.grupoNombre }}</td>
                                     <td>{{ arProgramacion.nombre }}</td>
                                     <td>{{ arProgramacion.pagoTipo }}</td>
                                     <td>{{ arProgramacion.fechaDesde | date('Y/m/d') }}</td>
                                     <td>{{ arProgramacion.fechaHasta | date('Y/m/d') }}</td>
                                     <td>{{ arProgramacion.dias }}</td>
                                     <td>{{ arProgramacion.cantidad }}</td>
                                     <td align="center">
                                         <a href="{{  path('recursoHumano_programacion_nuevo', { 'id': arProgramacion.codigoProgramacionPk }) }}"
                                            title="editar informacion"><i class="fa fa-edit fa-lg"></i></a></td>
                                     <td align="center">
                                         <a href="{{  path('recursoHumano_programacion_detalle', { 'id': arProgramacion.codigoProgramacionPk }) }}"
                                            title="mostrar informacion"><i class="fa fa-eye fa-lg"></i></a></td>
                                     <td class="text-center">
                                         <input type="checkbox" name="ChkSeleccionar[]"
                                                value="{{ arProgramacion.codigoProgramacionPk }}"/></td>
                                 </tr>
                             {% endfor %}
                             </tbody>
                         </table>
                         <div style="display: flex; flex-direction: row;">
                             <span style="margin-right: 4px">registros: {{ arProgramaciones.getTotalItemCount }}</span>
                             {{ knp_pagination_render(arProgramaciones) }}
                         </div>
                     </div>
                 </div>
                 <div class="panel-footer">
                     <div class="row">
                         <div class="col-sm-9 col-sm-offset-3">
                             <div style="float: right; margin-right: 5px !important;" class="btn-group" role="group"
                                  aria-label="...">
                                 <a class="btn btn-sm btn-default"
                                    href="{{  path('recursoHumano_programacion_nuevo',{'id':0}) }}">Nuevo</a>
                                 {{ form_widget(form.btnEliminar) }}
                             </div>

                         </div>
                     </div>
                 </div>
             </section>
         </div>
     </div>
     {{ form_end(form) }}
 {% endblock %}