    {% extends 'base.html.twig' %}

{% block bodyAtt %}class="fixed-left"{% endblock %}

{% block body %}

        {{ include('bloquesGenerales/menuEncabezado.html.twig') }}
        {{ include('bloquesGenerales/menuIzquierdo.html.twig') }}

                    {% block content %}
                        <table  class="table table-striped table-bordered table-condensed table-hover">
                            <tr>
                                <td>Sin atender:</td>
                                <td>{{ arrCaso.arrSinAtender.numero }}</td>
                                <td>Mas antiguos:</td>
                                <td>
                                    <table  class="table table-striped table-bordered table-condensed table-hover">
                                        <tr>
                                            <th>ID</th>
                                            <th>FECHA</th>
                                            <th>CLIENTE</th>
                                        </tr>
                                        {% for arrCaso in arrCaso.arrSinAtender.arrCasos %}
                                            <tr>
                                                <td>{{ arrCaso.codigoCasoPk }}</td>
                                                <td>{{ arrCaso.fechaRegistro | date('Y-m-d') }}</td>
                                                <td>{{ arrCaso.nombreComercial }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td>Sin solucionar:</td>
                                <td>{{ arrCaso.arrSinSolucionar.numero }}</td>
                                <td>Mas antiguos:</td>
                                <td>
                                    <table  class="table table-striped table-bordered table-condensed table-hover">
                                        <tr>
                                            <th>ID</th>
                                            <th>FECHA</th>
                                            <th>CLIENTE</th>
                                        </tr>
                                        {% for arrCaso in arrCaso.arrSinSolucionar.arrCasos %}
                                            <tr>
                                                <td>{{ arrCaso.codigoCasoPk }}</td>
                                                <td>{{ arrCaso.fechaRegistro | date('Y-m-d') }}</td>
                                                <td>{{ arrCaso.nombreComercial }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </td>
                            </tr>
                        </table>
                    {% endblock content %}

        {{ include('bloquesGenerales/pie.html.twig') }}
{% endblock %}