    {% extends 'base.html.twig' %}

{% block bodyAtt %}class="fixed-left"{% endblock %}

{% block body %}

        {{ include('bloquesGenerales/menuEncabezado.html.twig') }}
        {{ include('bloquesGenerales/menuIzquierdo.html.twig') }}

                    {% block content %}
                        <table  class="table table-striped table-bordered table-condensed table-hover">
                            <tr>
                                <td>Sin atender:</td>
                                <td>{{ arrError.arrSinAtender.numero }}</td>
                                <td>Mas antiguos:</td>
                                <td>
                                    <table  class="table table-striped table-bordered table-condensed table-hover">
                                        <tr>
                                            <th>ID</th>
                                            <th>FECHA</th>
                                            <th>CLIENTE</th>
                                        </tr>
                                        {% for arrError in arrError.arrSinAtender.arrErrores %}
                                            <tr>
                                                <td>{{ arrError.codigoErrorPk }}</td>
                                                <td>{{ arrError.fecha | date('Y-m-d') }}</td>
                                                <td>{{ arrError.nombreComercial }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </td>
                            </tr>
                        </table>
                    {% endblock content %}

        {{ include('bloquesGenerales/pie.html.twig') }}
{% endblock %}