    {% extends 'base.html.twig' %}

{% block bodyAtt %}class="fixed-left"{% endblock %}

{% block body %}

        {{ include('bloquesGenerales/menuEncabezado.html.twig') }}
        {{ include('bloquesGenerales/menuIzquierdo.html.twig') }}

                    {% block content %}
                        <table  class="table table-striped table-bordered table-condensed table-hover">
                            <tr>
                                <td>Sin atender:</td>
                                <td>{{ arrLlamada.arrSinAtender.numero }}</td>
                                <td>Mas antiguos:</td>
                                <td>
                                    <table  class="table table-striped table-bordered table-condensed table-hover">
                                        <tr>
                                            <th>ID</th>
                                            <th>FECHA</th>
                                            <th>CLIENTE</th>
                                        </tr>
                                        {% for arrLlamada in arrLlamada.arrSinAtender.arrLlamadas %}
                                            <tr>
                                                <td>{{ arrLlamada.codigoLlamadaPk }}</td>
                                                <td>{{ arrLlamada.fechaRegistro | date('Y-m-d H:i') }}</td>
                                                <td>{{ arrLlamada.nombreComercial }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <table  class="table table-striped table-bordered table-condensed table-hover">
                            <tr>
                                <td>Sin solucionar:</td>
                                <td>{{ arrLlamada.arrSinSolucionar.numero }}</td>
                                <td>Mas antiguos:</td>
                                <td>
                                    <table  class="table table-striped table-bordered table-condensed table-hover">
                                        <tr>
                                            <th>ID</th>
                                            <th>FECHA</th>
                                            <th>CLIENTE</th>
                                        </tr>
                                        {% for arrLlamada in arrLlamada.arrSinSolucionar.arrLlamadas %}
                                            <tr>
                                                <td>{{ arrLlamada.codigoLlamadaPk }}</td>
                                                <td>{{ arrLlamada.fechaRegistro | date('Y-m-d H:i') }}</td>
                                                <td>{{ arrLlamada.nombreComercial }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </td>
                            </tr>
                        </table>
                    {% endblock content %}
        {{ include('bloquesGenerales/pie.html.twig') }}
{% endblock %}