    {% extends 'base.html.twig' %}

{% block bodyAtt %}class="fixed-left"{% endblock %}

{% block body %}

        {{ include('bloquesGenerales/menuEncabezado.html.twig') }}
        {{ include('bloquesGenerales/menuIzquierdo.html.twig') }}

                    {% block content %}
                        <table  class="table table-striped table-bordered table-condensed table-hover">
                            <tr>
                                <td>Sin revisar:</td>
                                <td>{{ arrTarea.arrSinRevisar.numero }}</td>
                                <td>Mas antiguos:</td>
                                <td>
                                    <table  class="table table-striped table-bordered table-condensed table-hover">
                                        <tr>
                                            <th>ID</th>
                                            <th>FECHA</th>
                                            <th>USUARIO</th>
                                        </tr>
                                        {% for arrTarea in arrTarea.arrSinRevisar.arrTareas %}
                                            <tr>
                                                <td>{{ arrTarea.codigoTareaPk }}</td>
                                                <td>{{ arrTarea.fechaRegistro | date('Y-m-d') }}</td>
                                                <td>{{ arrTarea.codigoUsuarioAsignaFk }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </td>
                            </tr>


                        </table>
                    {% endblock content %}

        {{ include('bloquesGenerales/pie.html.twig') }}
{% endblock %}