<table>
    <thead style="background-color: #efefef;color: #202020;">AppSoga - Solicitud de información sobre Solicitud: <span
            style="background-color: #2e6da4;color: white;padding: 5px;">{{ arSolicitud.codigoSolicitudPk }}</span>

    </thead>
    <br>
    <tbody>
    <tr>
        <td colspan="2" style="color: #ffffff; background-color: #2e6da4;padding: 8px;">
            <p>Este correo se envía como notificación al Solicitud relacionado:</p>
        </td>
    </tr>
    <tr>
        <td><strong>Número: </strong></td>
        <td><span>{{ arSolicitud.codigoSolicitudPk }}</span></td>
    </tr>
    <tr>
        <td><strong>Fecha de Registro:</strong></td>
        <td><span>{{ arSolicitud.fechaSolicitud|date('d/m/Y') }}</span></td>
    </tr>
    <tr>
        <td><strong>Registra: </strong></td>
        <td><span>{{ arSolicitud.contacto }}</span></td>
    </tr>
    <tr>
        <td><strong>Correo: </strong></td>
        <td><span>{{ arSolicitud.correo }}</span></td>
    </tr>
    <tr>
        <td><strong>Teléfono: </strong></td>
        <td><span>{{ arSolicitud.telefono }} extension: {{ arSolicitud.extension }}</span></td>
    </tr>
    <tr>
        <td colspan="2">
            <hr>
        </td>
    </tr>
    <tr>
        <td><strong>Descripción: </strong></td>
        <td><span>{{ arSolicitud.descripcion }}</span></td>
    </tr>
    <tr>
        <td><strong>Mensaje: </strong></td>
        <td><span>{{ mensaje }}</span></td>
    </tr>
    <br>
    <tr>
        <td colspan="2" style="background-color: #2e6da4;color: #ffffff;text-align: center;">
            <h6>Por favor <a style="color: #ffffff;"
                             href="http://181.129.28.124/mercurio/public/index.php/Solicitud/detalle/"
                             .{{ arSolicitud.codigoSolicitudPk }}>click aquí para responder la solicitud</a></h6>
        </td>
    </tr>
    </tbody>
</table>