{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form,{'attr': {'class' :'form-horizontal'}}) }}
    {{ notificar()|raw }}
    <div class="panel panel-default">
        <div class="panel-heading">Información general</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label for="vacacion_fechaDesdeDisfrute" class="control-label col-sm-2">Empleado:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.empleadoRel) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="vacacion_diasDisfrutados" class="control-label col-sm-2">Dias disfrutados:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.diasDisfrutados) }}
                </div>
                <label for="vacacion_diasPagados" class="control-label col-sm-2">Dias reconocidos en dinero:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.diasPagados) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="vacacion_fechaDesdeDisfrute" class="control-label col-sm-2">Desde:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.fechaDesdeDisfrute) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="vacacion_fechaHastaDisfrute" class="control-label col-sm-2">Hasta:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.fechaHastaDisfrute) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="vacacion_fechaInicioLabor" class="control-label col-sm-2">Fecha inicia labores:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.fechaInicioLabor) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="vacacion_vrSalarioPromedioPropuesto" class="control-label col-sm-2">Salario promedio (propuesto-disfrute):</label>
                <div class="col-sm-4">
                    {{ form_widget(form.vrSalarioPromedioPropuesto) }}
                </div>
                <label for="vacacion_vrSaludPropuesto" class="control-label col-sm-2">Salud (propuesto):</label>
                <div class="col-sm-4">
                    {{ form_widget(form.vrSaludPropuesto) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="vacacion_vrSalarioPromedioPropuesto" class="control-label col-sm-2">Salario promedio (propuesto-dinero):</label>
                <div class="col-sm-4">
                    {{ form_widget(form.vrSalarioPromedioPropuestoPagado) }}
                </div>
                <label for="vacacion_vrPensionPropuesto" class="control-label col-sm-2">Pension (propuesto):</label>
                <div class="col-sm-4">
                    {{ form_widget(form.vrPensionPropuesto) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="vacacion_vrDisfrutePropuesto" class="control-label col-sm-2">Valor disfrute (propuesto):</label>
                <div class="col-sm-4">
                    {{ form_widget(form.vrDisfrutePropuesto) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="vacacion_comentarios" class="control-label col-sm-2">Comentarios:</label>
                <div class="col-sm-10">
                    {{ form_widget(form.comentarios) }}
                </div>
            </div>
        </div>
    </div>
    <div></div>
    <div class="modal-footer">
        <div class="btn-group" style="float: left;">
            <a class="btn btn-sm btn-default" href="{{ path('recursoHumano_vacacion_lista') }}">Cancelar</a>
        </div>
        <div class="btn-group" style="float: right;">
            {{ form_widget(form.guardar) }}
        </div>
    </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}
    <br>
    <br>
{% endblock %}