{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    {{ notificar()|raw }}
    <br>
    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>
                    <h2 class="panel-title">Informacion</h2>
                </header>
                <div class="panel-body">
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label">Nombre corto:</label>
                        <div class="col-sm-10">
                            {{ form_widget(form.nombreCorto) }}
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="form_sectorRel" class="col-sm-2 control-label">Tipo:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.identificacionRel) }}
                        </div>
                        <label for="form_sectorRel" class="col-sm-2 control-label">Nit:</label>
                        <div class="col-sm-2">
                            {{ form_widget(form.numeroIdentificacion) }}
                        </div>
                        <label for="form_sectorRel" class="col-sm-1 control-label">Dígito:</label>
                        <div class="col-sm-1">
                            {{ form_widget(form.digitoVerificacion) }}
                        </div>

                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label">Primer Nombre:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.primerNombre) }}
                        </div>
                        <label class="col-sm-2 control-label">Primer Apellido:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.primerApellido) }}
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label">Segundo Nombre:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.segundoNombre) }}
                        </div>
                        <label class="col-sm-2 control-label">Segundo Apellido:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.segundoApellido) }}
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label">Correo:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.email) }}
                        </div>
                        <label class="col-sm-2 control-label">Correo FE:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.correoFacturaElectronica) }}
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label">Ciudad:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.ciudadRel, { 'attr': {'class': 'form-control to-select-2'} }) }}
                        </div>
                        <label class="col-sm-2 control-label">Direccion:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.direccion) }}
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label">Barrio:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.barrio) }}
                        </div>
                        <label class="col-sm-2 control-label">Código postal:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.codigoPostal) }}
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label">Teléfono:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.telefono) }}
                        </div>
                        <label class="col-sm-2 control-label">Celular :</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.celular) }}
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label">Forma pago:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.formaPagoRel) }}
                        </div>
                        <label class="col-sm-2 control-label">Plazo:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.plazoPago) }}
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label">Cupo compra:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.cupoCompra) }}
                        </div>
                        <label class="col-sm-2 control-label">Regimen:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.regimenRel) }}
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label">CIUU:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.codigoCIUU) }}
                        </div>
                        <label class="col-sm-2 control-label">Tipo persona:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.tipoPersonaRel) }}
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <div class="col-sm-offset-2 col-sm-2">
                            {{ form_widget(form.cliente) }}
                            {{ form_widget(form.proveedor) }}
                            {{ form_widget(form.retencionFuente) }}
                            {{ form_widget(form.retencionFuenteSinBase) }}
                            {{ form_widget(form.retencionIva) }}
                            {{ form_widget(form.bloqueoCartera) }}
                        </div>
                    </div>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6">
                            <a class="btn btn-default btn-sm" style="float:left"
                               href="{{ path('administracion_general_tercero_lista') }}">Cancelar</a>
                        </div>
                        <div class="col-sm-6">
                            {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary', 'style':'float:right'} }) }}
                        </div>
                    </div>
                </footer>
            </section>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}




































