{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <table width="100%" class="table table-condensed table-bordered tabla-datos">
        <tr>
            <td class="titulo">CODIGO:</td>
            <td class="td-in-well">{{ arCaso.codigoCasoPk }}</td>
            <td class="titulo">FECHA:</td>
            <td class="td-in-well">{{ arCaso.fechaRegistro | date('Y-m-d H:i') }}</td>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
        </tr>
        <tr>
            <td class="titulo">ASUNTO:</td>
            <td class="td-in-well">{{ arCaso.codigoCasoPk }}</td>
            <td class="titulo">CONTACTO:</td>
            <td class="td-in-well">{{ arCaso.contacto }}</td>
            <td class="titulo">CORREO:</td>
            <td class="td-in-well">{{ arCaso.correo }}</td>
        </tr>
        <tr>
            <td class="titulo">TELEFONO:</td>
            <td class="td-in-well">{{ arCaso.telefono }}</td>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
        </tr>
        <tr>
            <td class="titulo">DESCRIPCION:</td>
            <td class="td-in-well" colspan="5">{{ arCaso.descripcion }}</td>
        </tr>
    </table>
    {{ form_end(form) }}
{% endblock %}
