{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title">Filtro de busqueda</h2>
                </header>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-1 control-label"></label>
                        <div class="col-sm-8">

                        </div>
                        <label class="col-sm-1 control-label">Atendido:</label>
                        <div class="col-sm-2">
                            {{ form_widget(form.estadoAtendido) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label"></label>
                        <div class="col-sm-8">

                        </div>
                        <label class="col-sm-1 control-label">Solucionado:</label>
                        <div class="col-sm-2">
                            {{ form_widget(form.estadoSolucionado) }}
                        </div>
                    </div>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            {{ form_widget(form.btnFiltrar, { 'attr': {'class': 'btn btn-primary', 'style':'float:right'} }) }}
                        </div>
                    </div>
                </footer>
            </section>
        </div>

        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title">Lista</h2>
                </header>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed table-bordered table-hover mb-none">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Fecha</th>
                                <th>Cliente</th>
                                <th>Contacto</th>
                                <th>Cat</th>
                                <th>Descripcion</th>
                                <th>Pri</th>
                                <th title="Re-abierto">R_A</th>
                                <th title="Escalado">ESC</th>
                                <th title="Solucionado">SOL</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for arCaso in arCasos %}
                                <tr>
                                    <td>{{ arCaso.codigoCasoPk }}</td>
                                    <td>{{ arCaso.fechaRegistro | date('Y-m-d') }}</td>
                                    <td>{{ arCaso.clienteNombre }}</td>
                                    <td>{{ arCaso.contacto }}</td>
                                    <td>{{ arCaso.codigoCategoriaCasoFk }}</td>
                                    <td>{{ arCaso.descripcion }}</td>
                                    <td>{{ arCaso.prioridad }}</td>
                                    <td>{{ arCaso.estadoReabierto ? 'SI':'NO' }}</td>
                                    <td>{{ arCaso.estadoEscalado ? 'SI':'NO' }}</td>
                                    <td>{{ arCaso.estadoSolucionado ? 'SI':'NO' }}</td>
                                    <td class="actions">
                                        <a href=""><i class="fa fa-pencil"></i></a>
                                        <a href="" class="delete-row"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>



{% endblock %}
