{% extends 'base.html.twig' %}

{% block bodyAtt %}class="fixed-left"{% endblock %}

{% block body %}

        {{ include('bloquesGenerales/menuEncabezado.html.twig') }}

        {{ include('bloquesGenerales/menuIzquierdo.html.twig') }}

                    {% block content %}
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="page-title-box">
                                    <h4 class="page-title"><i class="mdi mdi-phone-incoming"></i> Nuevo Caso (Incidente).</h4>

                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box">
                                    <h4 class="m-t-0 header-title"><b>Datos del Caso.</b></h4>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-12">

                                            {{ form_start(form, { 'attr': {'id':'form','class': 'form-horizontal','data-parsley-validate':'true'} }) }}
                                            <div class="form-group">
                                                <label class="col-md-2 control-label" for="_telefono">Contacto: </label>
                                                <div class="col-md-4">
                                                    {{ form_widget(form.contacto) }}
                                                </div>
                                                <label class="col-md-1 control-label" for="_telefono">Asunto:</label>
                                                <div class="col-md-5">
                                                    {{ form_widget(form.asunto) }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label" for="_telefono">Cliente:</label>
                                                <div class="col-md-4">
                                                    {{ form_widget(form.clienteRel) }}
                                                </div>

                                                <label class="col-md-1 control-label" for="_telefono">Cargo:</label>
                                                <div class="col-md-5">
                                                    {{ form_widget(form.cargoRel) }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label" for="_telefono">Area:</label>
                                                <div class="col-md-4">
                                                    {{ form_widget(form.areaRel) }}
                                                </div>
                                                <label class="col-md-1 control-label" for="_telefono">Categoría:</label>
                                                <div class="col-md-2">
                                                    {{ form_widget(form.categoriaRel) }}
                                                </div>
                                                <label class="col-md-1 control-label" for="_telefono">Prioridad:</label>
                                                <div class="col-md-2">
                                                    {{ form_widget(form.prioridadRel) }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label" for="_telefono">Correo:</label>

                                                <div class="col-md-4">
                                                    {{ form_widget(form.correo,{'attr':{'data-parsley-type':'text','data-parsley-maxlength':'50'}}) }}
                                                </div>
                                                <label class="col-md-1 control-label" for="_telefono">Teléfono:</label>

                                                <div class="col-md-2">
                                                    {{ form_widget(form.telefono,{'attr':{'data-parsley-type':'number','data-parsley-maxlength':'12'}}) }}
                                                </div>
                                                <label class="col-md-1 control-label" for="_telefono">Extensión:</label>
                                                <div class="col-md-2">
                                                    {{ form_widget(form.extension,{'attr':{'data-parsley-type':'number','data-parsley-maxlength':'5'}}) }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label" for="_telefono">Soporte</label>

                                                <div class="col-md-4">
                                                    {{ form_widget(form.soporte,{'attr':{'data-parsley-type':'text','data-parsley-maxlength':'50'}}) }}
                                                </div>
                                                <label class="col-md-1 control-label" for="_telefono"></label>

                                                <div class="col-md-2">

                                                </div>
                                                <label class="col-md-1 control-label" for="_telefono"></label>
                                                <div class="col-md-2">

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Descripción:</label>
                                                <div class="col-md-10">
                                                    {{ form_widget(form.descripcion,{'attr': {'rows':'5'}}) }}
                                                </div>
                                            </div>
                                            {#<div class="form-group">#}
                                                {#<label class="col-md-2 control-label">Solución:</label>#}
                                                {#<div class="col-md-10">#}
                                                    {{ form_widget(form.solucion,{'attr': {'rows':'5','style':'display:none;'}}) }}
                                                {#</div>#}
                                            {#</div>#}
                                            <hr/>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    {{ form_widget(form.btnGuardar, { 'attr': {'class': 'btn btn-success btn-bordered waves-effect w-md waves-light m-b-5','style':'float:right;margin-left:5px;'} }) }}
                                                    <a href="{{ path('listadoCasosSinSolucionar') }}" class="btn btn-default btn-bordered waves-effect w-md m-b-5" style="float: right;">CANCELAR</a>
                                                </div>
                                            </div>
                                            {{ form_rest(form) }}
                                            {{ form_end(form) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {#<a href="{{ path('modal.html.twig') }}">modal</a>#}
                    {% endblock content %}
        {{ include('bloquesGenerales/pie.html.twig') }}
{% endblock %}