{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form) }}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            <a class="btn btn-sm btn-default" href="{{ path('recursoHumano_pagos_lista') }}">Volver</a>
        </div>
    </div>
    <br/><br/>
    <table width="100%" class="table table-condensed table-bordered">
        <tr>
            <td class="titulo">CÓDIGO:</td>
            <td class="td-in-well">{{ arPago.codigoPagoPk }}</td>
            <td class="titulo">NÚMERO:</td>
            <td class="td-in-well">{{ arPago.numero }}</td>
            <td class="titulo"></td>
            <td class="td-in-well-numerico" align="right"></td>
            <td class="titulo"></td>
            <td class="td-in-well-numerico" align="right"></td>
        </tr>
        <tr>
            <td class="titulo">EMPLEADO:</td>
            <td class="td-in-well">{{ arPago.empleadoRel.numeroIdentificacion | default('') }}
                - {{ arPago.empleadoRel.nombreCorto | default('') }}</td>
            <td class="titulo">TIPO:</td>
            <td class="td-in-well">{{ arPago.pagoTipoRel.nombre | default('') }}</td>
            <td class="titulo">IBC:</td>
            <td class="td-in-well-numerico" align="right">
            <td class="titulo">TOTAL DEVENGADO:</td>
            <td class="td-in-well-numerico" align="right">{{ arPago.VrDevengado | number_format(0, '.', ',') }}</td>
        </tr>
        <tr>
            <td class="titulo">GRUPO PAGO</td>
            <td class="td-in-well">{{ arPago.contratoRel.grupoRel.nombre | default('') }}</td>
            <td class="titulo">DESDE:</td>
            <td class="td-in-well">{{ arPago.fechaDesde|date("Y/m/d") }}</td>
            <td class="titulo"></td>
            <td class="td-in-well-numerico" align="right"></td>
            <td class="titulo">TOTAL DEDUCCIONES:</td>
            <td class="td-in-well-numerico" align="right">{{ arPago.vrDeduccion | number_format(0, '.', ',') }}</td>
        </tr>
        <tr>
            <td class="titulo">PROGRAMACIÓN DETALLE:</td>
            <td class="td-in-well">{{ arPago.codigoProgramacionDetalleFk }}</td>
            <td class="titulo">HASTA:</td>
            <td class="td-in-well">{{ arPago.fechaHasta|date("Y/m/d") }}</td>
            <td class="titulo"></td>
            <td class="td-in-well-numerico" align="right"></td>
            <td class="titulo">TOTAL NETO:</td>
            <td class="td-in-well-numerico" align="right">{{ arPago.VrNeto | number_format(0, '.', ',') }}</td>
        </tr>
        <tr>
            <td class="titulo">COMENTARIOS:</td>
            <td colspan="7">{{ arPago.comentario }}</td>
        </tr>
    </table>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#detalles" data-toggle="tab">Detalles</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="detalles">
            <div id="detalles" style="width: 100%"><br>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-condensed">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th title="Codigo del concepto">CODIGO</th>
                            <th title="Nombre del concepto">CONCEPTO</th>
                            <th>DETALLE</th>
                            <th>PORCENTAJE</th>
                            <th>HORAS</th>
                            <th>DIAS</th>
                            <th title="Valor de la hora">VR.HORA</th>
                            <th title="Operacion">OP</th>
                            <th>VR.PAGO</th>
                            <th>IBP</th>
                            <th>IBC</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set ibc = 0 %}
                        {% set ibp = 0 %}
                        {% set pago = 0 %}
                        {% for arPagoDetalle in arPagoDetalles %}
                            <tr>
                                <td>{{ arPagoDetalle.codigoPagoDetallePk }}</td>
                                <td>{{ arPagoDetalle.codigoConceptoFk }}</td>
                                <td>{{ arPagoDetalle.nombre }}</td>
                                <td>{{ arPagoDetalle.detalle }}</td>
                                <td>{{ arPagoDetalle.porcentaje }}</td>
                                <td>{{ arPagoDetalle.horas }}</td>
                                <td>{{ arPagoDetalle.dias }}</td>
                                <td class="numero">{{ arPagoDetalle.vrHora |number_format(0, '.', ',') }}</td>
                                <td>{{ arPagoDetalle.operacion == 1 ? 'SUMA' : 'RESTA' }}</td>
                                <td class="numero">{{ arPagoDetalle.vrPagoOperado |number_format(0, '.', ',') }}</td>
                                <td class="numero">{{ arPagoDetalle.vrIngresoBasePrestacion |number_format(0, '.', ',') }}</td>
                                <td class="numero">{{ arPagoDetalle.vrIngresoBaseCotizacion |number_format(0, '.', ',') }}</td>
                            </tr>
                            {% set ibc = ibc + arPagoDetalle.vrIngresoBaseCotizacion %}
                            {% set ibp = ibp + arPagoDetalle.vrIngresoBasePrestacion %}
                            {% set pago = pago + arPagoDetalle.vrPagoOperado %}
                        {% endfor %}
                        <tr>
                            <td colspan="9"> </td>
                            <td class="numero">{{ pago |number_format(0, '.', ',') }} </td>
                            <td class="numero">{{ ibp |number_format(0, '.', ',')}} </td>
                            <td class="numero">{{ ibc |number_format(0, '.', ',')}} </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    {{ form_end(form) }}
{% endblock %}